openapi: '3.0.0'
info:
  title: 'Amity Social Cloud SDK'
  description: "<h2>Using Amity APIs</h2>\n\nOur API documentation explains all API endpoints used in Amity Social Cloud. All APIs, with the exception of some\nauthentication APIs, require an access token for authentication and authorization. APIs can be used either in Admin\nor User context. When used in user context, you will only be able to fetch data related to that user only.\nFor Administrators who are using our API documentation in making server-to-server API calls, you need an Admin\nAccess token to connect to the Amity server. Refer to <a href=\"https://docs.amity.co/console/settings#admin-api-access-token\" target=\"_blank\">this documentation</a>\nfor the instructions on how to generate an admin access token.\n\nAll backend endpoints that support Amity SDK are included here. To easily differentiate the type of each endpoint,\nwe added a prefix in each endpoint's path.\n\n1. Socket Endpoint: /sockets/...\n2. Socket Event: /callbacks/...\n3. REST API Endpoint: /v1/, /v2/, /v3/, or /v4/...\n4. Webhook Event: /webhook/...\n\n<h2>Select Region Endpoint</h2>\n\nBefore making server-to-server API calls, be sure to select the correct API endpoint for your region in\nthe <strong>Servers</strong> dropdown below.\n"
  version: '4.51.0'
servers:
  - url: 'https://api.us.amity.co'
    description: 'API Endpoint for US Region'
  - url: 'https://api.eu.amity.co'
    description: 'API Endpoint for EU Region'
  - url: 'https://api.sg.amity.co'
    description: 'API Endpoint for SG Region'
paths:
  /api/v3/authentication/token:
    $ref: './v3/authentication/api.yaml#/AuthenticationToken'
  /api/v4/authentication/token:
    post:
      summary: 'Create authentication token for session creation API'
      tags:
        - 'Authentication'
      parameters:
        - name: 'x-server-key'
          in: 'header'
          required: true
          schema:
            type: 'string'
      description: "Create authentication token for session creation API. Token userId need to match userId when using it\n"
      requestBody:
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
                  description: 'User id to assign this token'
      responses:
        '200':
          description: 'Response payload'
          content:
            text/plain:
              schema:
                type: 'string'
                example: 's9qne0wEqVb2e05271177748659f574a4e8ab85e08'
                description: 'Use this token when create sessions'
        '401':
          description: 'Unauthorized. Server key is invalid.'
          content:
            text/plain:
              schema:
                type: 'string'
                example: 'Unauthorized'
                description: 'Server key is invalid'
        '403':
          description: 'Forbidden. Possibly that secure mode is disabled'
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  status:
                    type: 'string'
                  message:
                    type: 'string'
                  code:
                    type: 'number'
                  data:
                    type: 'object'
                    description: 'error detail'
        '422':
          description: 'Parameters validation error'
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  status:
                    type: 'string'
                  message:
                    type: 'string'
                  code:
                    type: 'number'
                  data:
                    type: 'object'
                    description: 'error detail'
  /api/v3/sessions:
    post:
      summary: 'Register a session'
      tags:
        - 'Session'
      parameters:
        - name: 'x-api-key'
          in: 'header'
          required: true
          schema:
            type: 'string'
      description: "Register a session in order to connect to socket endpoint to perform sdk operations.\n"
      requestBody:
        description: "Information about user and devices that he/she use to connect to. If displayName is provide, that user display is updated as well.\n\nIf userId doesn't exists, new user will be created.\n\nauthToken need to pass when network option is set to secure\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
                  minLength: 1
                  maxLength: 50
                deviceId:
                  type: 'string'
                  minLength: 1
                  maxLength: 150
                deviceInfo:
                  type: 'object'
                  properties:
                    kind:
                      type: 'string'
                      enum:
                        - 'ios'
                        - 'android'
                        - 'web'
                        - 'node'
                    model:
                      type: 'string'
                      maxLength: 100
                    sdkVersion:
                      type: 'string'
                      maxLength: 30
                displayName:
                  type: 'string'
                  maxLength: 50
                authToken:
                  type: 'string'
                  description: 'Authentication token from /api/v3/authentication/token'
                  minLength: 1
                  maxLength: 100
              required:
                - 'userId'
                - 'deviceId'
      responses:
        '200':
          $ref: './v3/session/response.yaml#/SessionResponse'
        '401':
          $ref: './global/error.yaml#/UserIsSystemBanned'
        '400312':
          $ref: './global/error.yaml#/UserIsGlobalBanned'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    get:
      summary: 'Verify access token'
      tags:
        - 'Session'
      description: 'Verify access token. The caller must add accessToken in header.'
      responses:
        '200':
          description: 'Access token is valid'
        '401':
          description: 'Access token is invalid or expired'
        '403':
          description: 'User is global banned'
        '404':
          description: 'Not found'
        '422':
          description: 'Parameters validation error'
      security:
        - bearerAuth: []
  /api/v4/sessions:
    post:
      summary: 'Register a session'
      tags:
        - 'Session'
      parameters:
        - name: 'x-api-key'
          in: 'header'
          required: true
          schema:
            type: 'string'
      description: "Register a session in order to connect to socket endpoint to perform sdk operations.\n"
      requestBody:
        description: "Information about user and devices that he/she use to connect to. If displayName is provide, that user display is updated as well.\n\nIf userId doesn't exists, new user will be created.\n\nauthToken need to pass when network option is set to secure\n\naccessToken expiry 30 days\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
                  minLength: 1
                  maxLength: 50
                deviceId:
                  type: 'string'
                  minLength: 1
                  maxLength: 150
                deviceInfo:
                  type: 'object'
                  properties:
                    kind:
                      type: 'string'
                      enum:
                        - 'ios'
                        - 'android'
                        - 'web'
                        - 'node'
                    model:
                      type: 'string'
                      maxLength: 100
                    sdkVersion:
                      type: 'string'
                      maxLength: 30
                displayName:
                  type: 'string'
                  maxLength: 50
                authToken:
                  type: 'string'
                  description: 'Authentication token from /api/v3/authentication/token'
                  minLength: 1
                  maxLength: 100
              required:
                - 'userId'
                - 'deviceId'
      responses:
        '200':
          $ref: './v4/session/response.yaml#/SessionResponse'
        '401':
          $ref: './global/error.yaml#/UserIsSystemBanned'
        '400312':
          $ref: './global/error.yaml#/UserIsGlobalBanned'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    delete:
      summary: 'Revoke access token'
      tags:
        - 'Session'
      security:
        - BearerAuth: []
      description: 'Revoke all userId''s access token by admin'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
                  minLength: 1
                  maxLength: 50
      responses:
        '200':
          description: 'Revoke access token success'
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  success:
                    type: 'boolean'
                    default: true
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
        'UserIdNotFound: 404':
          $ref: './global/error.yaml#/UserIdNotFoundError'
        'SessionNotFound: 404':
          description: 'User is global banned'
  /v1/device:
    post:
      summary: 'Register a device.'
      tags:
        - 'Device'
      parameters:
        - name: 'x-api-key'
          in: 'header'
          required: true
          schema:
            type: 'string'
      description: "Register a session in order to connect to socket endpoint to perform sdk operations.\n"
      requestBody:
        description: "Information about user and devices that he/she use to connect to. If displayName is provide, that user display is updated as well.\n\nIf userId doesn't exists, new user will be created.\n\nauthToken need to pass when network option is set to secure\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
                  minLength: 1
                  maxLength: 50
                deviceId:
                  type: 'string'
                  minLength: 1
                  maxLength: 150
                deviceInfo:
                  type: 'object'
                  properties:
                    kind:
                      type: 'string'
                      enum:
                        - 'ios'
                        - 'android'
                        - 'web'
                        - 'node'
                    model:
                      type: 'string'
                      maxLength: 100
                    sdkVersion:
                      type: 'string'
                      maxLength: 30
                displayName:
                  type: 'string'
                  maxLength: 50
                authToken:
                  type: 'string'
                  description: 'Authentication token from /api/v3/authentication/token'
                  minLength: 1
                  maxLength: 100
              required:
                - 'userId'
                - 'deviceId'
      responses:
        '200':
          $ref: './v1/device/response.yaml#/DeviceResponse'
        '401':
          $ref: './global/error.yaml#/UserIsSystemBanned'
        '400312':
          $ref: './global/error.yaml#/UserIsGlobalBanned'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /v1/accessToken:
    get:
      summary: 'Generate AccessToken.'
      tags:
        - 'Device'
      security:
        - ApiKeyAuth: []
      description: "Generate new Access Token.\n"
      parameters:
        - in: 'query'
          name: 'userId'
          schema:
            type: 'string'
          required: true
        - in: 'query'
          name: 'refreshToken'
          schema:
            type: 'string'
          required: true
      responses:
        '200':
          description: 'Return new accessToken'
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  accessToken:
                    type: 'string'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /v1/blacklist/records:
    put:
      summary: 'Refresh black list'
      tags:
        - 'Moderation'
      security:
        - ApiKeyAuth: []
      description: "Refresh the black list\n"
      requestBody:
        description: "Regular expression to refresh.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                regexs:
                  type: 'array'
                  items:
                    type: 'string'
              required:
                - 'regexs'
    post:
      summary: 'Add rules to black list'
      tags:
        - 'Moderation'
      security:
        - ApiKeyAuth: []
      description: "Add rules to the black list\n"
      requestBody:
        description: "Regular expression to add.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                regexs:
                  type: 'array'
                  items:
                    type: 'string'
              required:
                - 'regexs'
    delete:
      summary: 'Delete rules from black list'
      tags:
        - 'Moderation'
      security:
        - ApiKeyAuth: []
      description: "Delete rules from the black list\n"
      requestBody:
        description: "Regular expression to delete.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                ruleIds:
                  type: 'array'
                  items:
                    type: 'string'
              required:
                - 'regexs'
  /admin/v1/token:
    post:
      summary: 'Generate admin token.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Generate admin token\n"
      responses:
        '200':
          $ref: './v1/admin/response.yaml#/AdminTokenResponse'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    get:
      summary: 'Get admin token.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Get admin token\n"
      responses:
        '200':
          $ref: './v1/admin/response.yaml#/AdminTokenResponse'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    delete:
      summary: 'Revoke admin token.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Revoke admin token:\n  * super-admin can revoke any admin token\n  * admin can revoke own token only\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                username:
                  type: 'string'
                  minLength: 1
                  maxLength: 50
      responses:
        '200':
          $ref: './v1/admin/response.yaml#/RevokeAdminTokenResponse'
        '403':
          $ref: './global/error.yaml#/GenericPermissionDenidedError'
        '404':
          $ref: './global/error.yaml#/UsernameNotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /admin/v1/blacklist/records:
    get:
      summary: 'get rules of blacklist.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Get rules of blacklist.\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'regexs'
          in: 'query'
          collectionFormat: 'multi'
          schema:
            type: 'array'
            items:
              type: 'string'
        - name: 'sortBy'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'lastCreated'
              - 'firstCreated'
            default: 'firstCreated'
        - name: 'options'
          in: 'query'
          style: 'deepObject'
          schema:
            type: 'object'
            properties:
              limit:
                type: 'integer'
                minimum: 1
                maximum: 100
                default: 10
              token:
                type: 'string'
                maxLength: 1000
      responses:
        '200':
          $ref: './v1/moderation/response.yaml#/BlacklistRulesResponse'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/blacklist/records:
    get:
      summary: 'get rules of blacklist.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Get rules of blacklist.\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'regexs'
          in: 'query'
          schema:
            type: 'array'
            items:
              type: 'string'
      responses:
        '200':
          $ref: '#/components/responses/BlacklistRulesResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
    put:
      summary: 'refresh rules of blacklist.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Refresh rules of blacklist.\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Rules information to be refreshed.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                regexs:
                  type: 'array'
                  items:
                    type: 'string'
              required:
                - 'regexs'
      responses:
        '200':
          description: 'OK'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: 'add rules to blacklist.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Add rules to blacklist\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Rules information to be added.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                regexs:
                  type: 'array'
                  items:
                    type: 'string'
                isMatchExactWord:
                  type: 'boolean'
              required:
                - 'regexs'
      responses:
        '200':
          description: 'OK'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
    delete:
      summary: 'delete rules from blacklist'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Delete rule from blacklist\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Rules information to be deleted.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                ruleIds:
                  type: 'array'
                  items:
                    type: 'string'
              required:
                - 'ruleIds'
      responses:
        '200':
          description: 'OK'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
  /api/v2/blacklist/records/:ruleId:
    put:
      summary: 'update rule of blacklist.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Update rule of blacklist.\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Rules information to be updated.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                ruleId:
                  type: 'string'
                isEnabled:
                  type: 'boolean'
              required:
                - 'ruleId'
                - 'isEnabled'
      responses:
        '200':
          $ref: '#/components/responses/BlacklistRuleResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
  /api/v2/messages:
    post:
      summary: 'Query messages.'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      requestBody:
        description: "condition for querying\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                channelId:
                  type: 'string'
                parentId:
                  type: 'string'
                filterByParentId:
                  type: 'boolean'
                tags:
                  type: 'array'
                  description: 'List of including tags. They will be used for searching.'
                  items:
                    type: 'string'
                excludeTags:
                  type: 'array'
                  description: 'List of excluding tags. They will be used for searching.'
                  items:
                    type: 'string'
                options:
                  type: 'object'
                  properties:
                    after:
                      type: 'number'
                    first:
                      type: 'number'
                    before:
                      type: 'number'
                    last:
                      type: 'number'
                    token:
                      type: 'string'
              required:
                - 'channelId'
      responses:
        '200':
          $ref: './v2/message/response.yaml#/MessageResponse'
  /api/v2/message:
    post:
      summary: 'create a text message.'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      description: "Create a text message in a given channel.\n"
      requestBody:
        description: "Information of message to be created.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                channelId:
                  type: 'string'
                type:
                  type: 'string'
                data:
                  type: 'object'
                  properties:
                    caption:
                      type: 'string'
                      maxLength: 1000
                tags:
                  type: 'array'
                  items:
                    type: 'string'
                parentId:
                  type: 'string'
              required:
                - 'channelId'
                - 'type'
                - 'data'
      responses:
        '200':
          $ref: './v2/message/response.yaml#/MessageResponse'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/ChannelNotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/message/{messageId}:
    $ref: './v2/message/api.yaml#/Message'
  /api/v2/messages/images:
    post:
      summary: 'create an image message.'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      consumes:
        - 'multipart/form-data'
      description: "Create a image message in a given channel.\n"
      requestBody:
        description: "Information of message to be created.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                channelId:
                  type: 'string'
                caption:
                  type: 'string'
                file:
                  type: 'object'
                tags:
                  type: 'array'
                  items:
                    type: 'string'
                parentId:
                  type: 'string'
                fullImage:
                  type: 'string'
              required:
                - 'channelId'
                - 'file'
      responses:
        '200':
          $ref: './v2/message/response.yaml#/MessageResponse'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/ChannelNotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/messages/{messageId}/images:
    get:
      summary: 'get an image message'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      parameters:
        - name: 'messageId'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'size'
          in: 'query'
          required: true
          schema:
            type: 'string'
            enum:
              - 'small'
              - 'medium'
              - 'large'
              - 'full (if fullImage)'
      description: "Get a message with image in a given channel.\n"
      responses:
        '200':
          description: 'An image file'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/ChannelNotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/messages/files:
    post:
      summary: 'create a message with file in a given channel'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      consumes:
        - 'multipart/form-data'
      description: "Create a message with file in a given channel.\n"
      requestBody:
        description: "information of a message to be created.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                channelId:
                  type: 'string'
                caption:
                  type: 'string'
                file:
                  type: 'object'
                tags:
                  type: 'array'
                  items:
                    type: 'string'
                parentId:
                  type: 'string'
              required:
                - 'channelId'
                - 'file'
      responses:
        '200':
          $ref: './v2/message/response.yaml#/MessageResponse'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/ChannelNotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/messages/{messageId}/files:
    get:
      summary: 'get a file message'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      parameters:
        - name: 'messageId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      description: "Get a message with file in a given channel.\n"
      responses:
        '200':
          description: 'A file'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/ChannelNotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/moderation-settings:
    get:
      summary: 'get a moderation setting'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
      description: "Get a moderation setting.\n"
      responses:
        '200':
          $ref: '#/components/responses/ModerationSettingResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
    put:
      summary: 'update a moderation setting'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Update a moderation setting\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "moderation setting information\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                maxRepetition:
                  type: 'integer'
                  minimum: 0
                maxRepetitionTimeout:
                  type: 'integer'
                  minimum: 0
                blacklistMuteTimeout:
                  type: 'integer'
                  minimum: 0
                whitelistMuteTimeout:
                  type: 'integer'
                  minimum: 0
                maxRepetitionMuteTimeout:
                  type: 'integer'
                  minimum: 0
                enableImageModeration:
                  type: 'boolean'
                imageModeration:
                  type: 'object'
                  properties:
                    nudity:
                      type: 'number'
                      minimum: 0
                    suggestive:
                      type: 'number'
                      minimum: 0
                    violence:
                      type: 'number'
                      minimum: 0
                    disturbing:
                      type: 'number'
                      minimum: 0
      responses:
        '200':
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  status:
                    type: 'string'
                  code:
                    type: 'string'
                example:
                  status: 'success'
                  code: 200
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
  /api/v2/reactions/messages/most:
    get:
      summary: 'Get message ids by the most of reactions.'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      description: "Get message ids by the most of reactions.\n"
      parameters:
        - name: 'limit'
          in: 'query'
          schema:
            type: 'integer'
            minimum: 1
        - name: 'reactionName'
          in: 'query'
          schema:
            type: 'string'
      responses:
        '200':
          description: 'Message information.'
          content:
            application/json:
              schema:
                type: 'array'
                items:
                  type: 'object'
                  properties:
                    messageId:
                      type: 'string'
                    reactionsCount:
                      type: 'integer'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/roles:
    get:
      summary: 'get all roles'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Get all roles\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'filter'
          in: 'query'
          required: true
          schema:
            type: 'string'
      responses:
        '200':
          $ref: '#/components/responses/RolesResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
    put:
      summary: 'add permissions.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Add permissions\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Permission information to be added\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                publicIds:
                  type: 'array'
                  items:
                    type: 'string'
                permissions:
                  type: 'array'
                  items:
                    type: 'string'
              required:
                - 'publicIds'
                - 'permissions'
      responses:
        '200':
          description: 'OK'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
  /api/v2/whitelist/records:
    get:
      summary: 'get rules of whitelist.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Get rules of whitelist.\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'regexs'
          in: 'query'
          required: true
          schema:
            type: 'array'
            items:
              type: 'string'
      responses:
        '200':
          $ref: '#/components/responses/WhitelistRulesResponse'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    put:
      summary: 'refresh rules of whitelist.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Refresh rules of whitelist.\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Rules information to be refreshed.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                regexs:
                  type: 'array'
                  items:
                    type: 'string'
              required:
                - 'regexs'
      responses:
        '200':
          description: 'OK'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: 'add rules to whitelist.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Add rules to whitelist\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Rules information to be added.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                regexs:
                  type: 'array'
                  items:
                    type: 'string'
              required:
                - 'regexs'
      responses:
        '200':
          description: 'OK'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
    delete:
      summary: 'delete rules from whitelist'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Delete rule from whitelist\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Rules information to be deleted.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                ruleIds:
                  type: 'array'
                  items:
                    type: 'string'
              required:
                - 'ruleIds'
      responses:
        '200':
          description: 'OK'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
  /api/v2/whitelist/records/:ruleId:
    put:
      summary: 'update rule of whitelist.'
      tags:
        - 'Admin'
      security:
        - ApiKeyAuth: []
      description: "Update rule of whitelist.\n"
      parameters:
        - name: 'Authorization'
          in: 'header'
          required: true
          schema:
            type: 'string'
        - name: 'Content-Type'
          in: 'header'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Rules information to be updated.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                ruleId:
                  type: 'string'
                isEnabled:
                  type: 'boolean'
              required:
                - 'ruleId'
                - 'isEnabled'
      responses:
        '200':
          $ref: '#/components/responses/WhitelistRuleResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/UnexpectedError'
  /api/v3/roles:
    get:
      summary: 'Get roles (pagination support)'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      description: "Get roles (pagination support)\n"
      parameters:
        - name: 'keyword'
          in: 'query'
          required: true
          schema:
            type: 'string'
            minLength: 0
            maxLength: 100
          description: 'search keyword'
        - name: 'sortBy'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'lastCreated'
              - 'firstCreated'
              - 'displayName'
            default: 'lastCreated'
        - name: 'options'
          in: 'query'
          style: 'deepObject'
          schema:
            type: 'object'
            properties:
              limit:
                type: 'integer'
                minimum: 1
                maximum: 100
                default: 10
              token:
                type: 'string'
                maxLength: 1000
      responses:
        '200':
          $ref: './v3/role/response.yaml#/RoleResponse'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    post:
      summary: 'Create role'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      description: "Create a role\n"
      requestBody:
        description: "information of a role to be created.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                roleId:
                  type: 'string'
                  description: 'role id'
                  minLength: 1
                  maxLength: 100
                displayName:
                  type: 'string'
                  description: 'display name of role'
                  minLength: 0
                  maxLength: 100
                permissions:
                  type: 'array'
                  items:
                    type: 'string'
                  description: 'The list of permission for this role. https://github.com/EkoCommunications/UpstraEngineeringGitbook/blob/feature/roles/specification/roles.md#permissions'
              required:
                - 'roleId'
                - 'permissions'
      responses:
        '200':
          $ref: './v3/role/response.yaml#/RoleResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '403':
          $ref: './global/error.yaml#/GenericPermissionDenidedError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/roles/{roleId}:
    get:
      summary: 'Get role'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      description: "Get a role\n"
      parameters:
        - name: 'roleId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      responses:
        '200':
          $ref: './v3/role/response.yaml#/RoleResponse'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    put:
      summary: 'Update role'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      description: "Update a role\n"
      requestBody:
        description: "information of a role to be created.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                roleId:
                  type: 'string'
                  description: 'role id to update'
                  minLength: 1
                  maxLength: 100
                displayName:
                  type: 'string'
                  description: 'display name of role to update'
                  minLength: 0
                  maxLength: 100
                permissions:
                  type: 'array'
                  items:
                    type: 'string'
                  description: 'The list of permission to update. https://github.com/EkoCommunications/UpstraEngineeringGitbook/blob/feature/roles/specification/roles.md#permissions'
              required:
                - 'roleId'
                - 'permissions'
      responses:
        '200':
          $ref: './v3/role/response.yaml#/RoleResponse'
        '403':
          $ref: './global/error.yaml#/GenericPermissionDenidedError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    delete:
      summary: 'Delete role'
      tags:
        - 'Admin'
      security:
        - BearerAuth: []
      description: "Delete a role\n"
      requestBody:
        description: "information of a role to be delete.\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                roleId:
                  type: 'string'
                  description: 'role id to delete'
                  minLength: 1
                  maxLength: 100
              required:
                - 'roleId'
      responses:
        '200':
          $ref: './v3/role/response.yaml#/RoleResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '403':
          $ref: './global/error.yaml#/GenericPermissionDenidedError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /admin/v1/reports/user-last-activity:
    get:
      summary: 'Download last activity user report.'
      tags:
        - 'Admin'
      parameters:
        - name: 'Cookie'
          in: 'cookie'
          schema:
            type: 'string'
          description: 'Alternative way to pass authorization token'
      description: "Download last activity user report.\n"
      responses:
        '200':
          $ref: './v1/admin/response.yaml#/LastActivityReportResponse'
  /api/v2/users:
    get:
      summary: 'query users'
      tags:
        - 'User'
      security:
        - BearerAuth: []
      description: "Query users\n"
      parameters:
        - name: 'search'
          in: 'query'
          schema:
            type: 'string'
        - name: 'filter'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'all'
              - 'flagged'
            default: 'all'
        - name: 'pageToken'
          in: 'query'
          schema:
            type: 'string'
        - name: 'limit'
          in: 'query'
          schema:
            type: 'integer'
      responses:
        '200':
          $ref: './v2/user/response.yaml#/UsersPaginationApiResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    put:
      summary: 'Update user information.'
      tags:
        - 'User'
      security:
        - BearerAuth: []
      description: "Update user information such as displayName, roles and metadata\n"
      requestBody:
        description: "User information to be updated\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
                  maxLength: 50
                displayName:
                  type: 'string'
                  maxLength: 100
                roles:
                  type: 'array'
                  maxItems: 10
                  items:
                    type: 'string'
                    maxLength: 100
                metadata:
                  type: 'object'
                  maxLength: 500
      responses:
        '200':
          $ref: './v2/user/response.yaml#/UserApiResponse'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/users/ban:
    post:
      summary: 'ban a user.'
      tags:
        - 'User'
      security:
        - ApiKeyAuth: []
      description: "Ban a user\n"
      consumes:
        - 'applicationjson'
      requestBody:
        description: "User information to be baned\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
              required:
                - 'userId'
      responses:
        '200':
          description: 'OK'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/users/unban:
    post:
      summary: 'unban a user.'
      tags:
        - 'User'
      security:
        - BearerAuth: []
      description: "Unban a user\n"
      requestBody:
        description: "User information to be unbaned\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
              required:
                - 'userId'
      responses:
        '200':
          description: 'OK'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/users/{userId}/flags:
    delete:
      summary: 'clear flag a user.'
      tags:
        - 'User'
      security:
        - BearerAuth: []
      description: "Clear flag a user\n"
      parameters:
        - name: 'userId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      responses:
        '200':
          $ref: './v2/user/response.yaml#/UserApiResponse'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /sockets/user.query:
    post:
      summary: 'query users'
      tags:
        - 'User'
      security:
        - SocketAuth: []
      description: "Query users\n"
      requestBody:
        description: "Query parameters\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                search:
                  type: 'string'
                sortBy:
                  type: 'string'
                  enum:
                    - 'lastCreated'
                    - 'firstCreated'
                    - 'displayName'
                  default: 'displayName'
                options:
                  type: 'object'
                  properties:
                    limit:
                      type: 'integer'
                      minimum: 1
                      maximum: 100
                      default: 10
                    token:
                      type: 'string'
      responses:
        '200':
          $ref: './v1/user/response.yaml#/UsersPaginationSocketResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /sockets/user.get:
    post:
      summary: 'get users informations base on given userIds'
      tags:
        - 'User'
      security:
        - SocketAuth: []
      description: "Get users informations\n"
      requestBody:
        description: 'request userIds'
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userIds:
                  type: 'array'
                  items:
                    type: 'string'
              required:
                - 'userIds'
      responses:
        '200':
          $ref: './v1/user/response.yaml#/UsersSocketResponse'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /sockets/user.flag:
    post:
      summary: 'Flag a user.'
      tags:
        - 'User'
      security:
        - SocketAuth: []
      description: "Flag a user. If a user who flag already flagged target user, flag count will not increase\n"
      requestBody:
        description: "userId to be flagged\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
              required:
                - 'userId'
      responses:
        '200':
          $ref: './v1/user/response.yaml#/UserSocketResponse'
        '403':
          $ref: './global/error.yaml#/NumberOfFlagExceedError'
        '404':
          $ref: './global/error.yaml#/UserNotFoundError'
  /sockets/user.unflag:
    post:
      summary: 'Unflag a user.'
      tags:
        - 'User'
      security:
        - SocketAuth: []
      description: "unFlag a user.\n"
      requestBody:
        description: "userId to be flagged\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
              required:
                - 'userId'
      responses:
        '200':
          $ref: './v1/user/response.yaml#/UserSocketResponse'
        '404':
          $ref: './global/error.yaml#/UserNotFoundError'
  /sockets/user.isFlagByMe:
    post:
      summary: 'Check whether user flag a given user.'
      tags:
        - 'User'
      security:
        - SocketAuth: []
      description: "Check whether a user flag a given user.\n"
      requestBody:
        description: "userId to be flagged\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
              required:
                - 'userId'
      responses:
        '200':
          $ref: './global/response.yaml#/IsFlagByMeResponse'
        '404':
          $ref: './global/error.yaml#/UserNotFoundError'
  /sockets/user.update:
    post:
      summary: 'Update user information.'
      tags:
        - 'User'
      security:
        - SocketAuth: []
      description: "Update user information such as displayName, roles and metadata\n"
      requestBody:
        description: "User information to be updated\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
                  maxLength: 50
                displayName:
                  type: 'string'
                  maxLength: 100
                roles:
                  type: 'array'
                  maxItems: 10
                  items:
                    type: 'string'
                    maxLength: 100
                metadata:
                  type: 'object'
                  maxLength: 500
      responses:
        '200':
          $ref: './v1/user/response.yaml#/UserSocketResponse'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /callbacks/user.didUpdate:
    get:
      tags:
        - 'User'
      security:
        - SocketAuth: []
      description: "Publish this event following endpoint below:\n  * `update user`\n  * `update user(v3)`\n"
      responses:
        '200':
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  userId:
                    type: 'string'
                    description: 'ID of a user.'
  /callbacks/v3.user.didUpdate:
    get:
      tags:
        - 'User'
      security:
        - SocketAuth: []
      description: "Publish this event following endpoint below:\n  * `update user`\n  * `update user(v3)`\n"
      responses:
        '200':
          $ref: './v3/user/response.yaml#/UserSocketResponse'
  /api/v3/users:
    get:
      summary: 'Get users information.'
      tags:
        - 'UserV3'
      security:
        - BearerAuth: []
      description: "Get users information (pagination supported)\n"
      parameters:
        - name: 'keyword'
          in: 'query'
          schema:
            type: 'string'
            maxLength: 100
        - name: 'filter'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'all'
              - 'flagged'
            default: 'all'
        - name: 'sortBy'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'firstCreated'
              - 'lastCreated'
              - 'displayName'
            default: 'displayName'
        - name: 'options'
          in: 'query'
          style: 'deepObject'
          schema:
            type: 'object'
            properties:
              limit:
                type: 'integer'
                minimum: 1
                maximum: 100
                default: 10
              token:
                type: 'string'
                maxLength: 1000
      responses:
        '200':
          $ref: './v3/user/response.yaml#/UserPaginationResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '403':
          $ref: './global/error.yaml#/ForbiddenError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    put:
      summary: 'Update user information.'
      tags:
        - 'UserV3'
      security:
        - BearerAuth: []
      description: "Update user information such as displayName, roles, avatar and metadata\n"
      requestBody:
        description: "User information to be updated\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
                  maxLength: 50
                displayName:
                  type: 'string'
                  maxLength: 100
                roles:
                  type: 'array'
                  maxItems: 10
                  items:
                    type: 'string'
                    maxLength: 100
                metadata:
                  type: 'object'
                  maxLength: 500
                avatarFileId:
                  type: 'string'
                  maxLength: 50
                avatarCustomUrl:
                  type: 'string'
                  maxLength: 1000
                description:
                  type: 'string'
                  maxLength: 500
      responses:
        '200':
          $ref: './v3/user/response.yaml#/UserResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '403':
          $ref: './global/error.yaml#/ForbiddenError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/users/list:
    get:
      summary: 'Get users information by public id.'
      tags:
        - 'UserV3'
      security:
        - BearerAuth: []
      description: "Get users information by public id.\n"
      parameters:
        - name: 'userIds'
          in: 'query'
          collectionFormat: 'multi'
          schema:
            type: 'array'
            maxItems: 100
            items:
              type: 'string'
              maxLength: 900
      responses:
        '200':
          $ref: './v3/user/response.yaml#/UserResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '403':
          $ref: './global/error.yaml#/ForbiddenError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/users/{userId}:
    get:
      summary: 'Get one user information.'
      tags:
        - 'UserV3'
      security:
        - BearerAuth: []
      description: "Get one user information.\n"
      parameters:
        - name: 'userId'
          in: 'path'
          required: true
          schema:
            type: 'string'
            minLength: 1
            maxLength: 900
        - name: 'type'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'public'
              - 'internal'
            default: 'public'
      responses:
        '200':
          $ref: './v3/user/response.yaml#/UserResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '403':
          $ref: './global/error.yaml#/ForbiddenError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/users/{userId}/isFlagByMe:
    get:
      summary: 'Check whether user flag a given user.'
      description: "Check whether user flag a given user.\n"
      tags:
        - 'UserV3'
      security:
        - BearerAuth: []
      parameters:
        - name: 'userId'
          in: 'path'
          required: true
          schema:
            type: 'string'
            minLength: 1
            maxLength: 900
      responses:
        '200':
          description: 'Is flag by me response.'
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  isFlagByMe:
                    type: 'boolean'
        '404':
          $ref: './global/error.yaml#/UserNotFoundError'
  /sockets/v3/user.query:
    post:
      summary: 'Get users information.'
      tags:
        - 'UserV3'
      security:
        - SocketAuth: []
      description: "Get users information (pagination supported)\n"
      requestBody:
        description: "Request body\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                keyword:
                  type: 'string'
                  maxLength: 100
                filter:
                  type: 'string'
                  enum:
                    - 'all'
                    - 'flagged'
                  default: 'all'
                sortBy:
                  type: 'string'
                  enum:
                    - 'lastCreated'
                    - 'firstCreated'
                    - 'displayName'
                  default: 'displayName'
                options:
                  type: 'object'
                  properties:
                    limit:
                      type: 'integer'
                      minimum: 1
                      maximum: 100
                      default: 10
                    token:
                      type: 'string'
                      minLength: 1
                      maxLength: 100
      responses:
        '200':
          $ref: './v3/user/response.yaml#/UserSocketPaginationResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '401':
          $ref: './global/error.yaml#/UserNotAllowedToUpdateError'
        '403':
          $ref: './global/error.yaml#/ForbiddenError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /sockets/v3/user.getList:
    post:
      summary: 'Get users information by public id.'
      tags:
        - 'UserV3'
      security:
        - SocketAuth: []
      description: "Get users information by public id.\n"
      requestBody:
        description: "Request body\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userIds:
                  require: true
                  type: 'array'
                  maxItems: 100
                  items:
                    type: 'string'
                    minLength: 1
                    maxLength: 900
      responses:
        '200':
          $ref: './v3/user/response.yaml#/UserSocketResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '401':
          $ref: './global/error.yaml#/UserNotAllowedToUpdateError'
        '403':
          $ref: './global/error.yaml#/ForbiddenError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /sockets/v3/user.get:
    post:
      summary: 'Get one user information.'
      tags:
        - 'UserV3'
      security:
        - SocketAuth: []
      description: "Get one user information.\n"
      requestBody:
        description: "Request body\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
                  require: true
                  minLength: 1
                  maxLength: 900
      responses:
        '200':
          $ref: './v3/user/response.yaml#/UserSocketResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '401':
          $ref: './global/error.yaml#/UserNotAllowedToUpdateError'
        '403':
          $ref: './global/error.yaml#/ForbiddenError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /sockets/v3/user.update:
    post:
      summary: 'Update user information.'
      tags:
        - 'UserV3'
      security:
        - SocketAuth: []
      description: "Update user information such as displayName, roles, avatar and metadata\n"
      requestBody:
        description: "User information to be updated\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userId:
                  type: 'string'
                  maxLength: 50
                displayName:
                  type: 'string'
                  maxLength: 100
                roles:
                  type: 'array'
                  maxItems: 10
                  items:
                    type: 'string'
                    maxLength: 100
                metadata:
                  type: 'object'
                  maxLength: 500
                avatarFileId:
                  type: 'string'
                  maxLength: 50
                avatarCustomUrl:
                  type: 'string'
                  maxLength: 1000
                description:
                  type: 'string'
                  maxLength: 500
      responses:
        '200':
          $ref: './v3/user/response.yaml#/UserSocketResponse'
        '400':
          $ref: './global/error.yaml#/BadRequestError'
        '401':
          $ref: './global/error.yaml#/UserNotAllowedToUpdateError'
        '403':
          $ref: './global/error.yaml#/ForbiddenError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/channels:
    post:
      summary: 'query channels'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      description: "Query channels\n"
      requestBody:
        description: "Query parameters\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                filter:
                  type: 'string'
                  enum:
                    - 'all'
                    - 'member'
                    - 'notMember'
                types:
                  type: 'array'
                  items:
                    type: 'string'
                    enum:
                      - 'standard'
                      - 'private'
                      - 'conversation'
                      - 'broadcast'
                      - 'live'
                      - 'community'
                tags:
                  type: 'array'
                  items:
                    type: 'string'
                excludeTags:
                  type: 'array'
                  items:
                    type: 'string'
                userId:
                  type: 'string'
                options:
                  type: 'object'
                  properties:
                    skip:
                      type: 'integer'
                    limit:
                      type: 'integer'
                    token:
                      type: 'string'
      responses:
        '200':
          $ref: './v2/channel/response.yaml#/ChannelPaginationApiResponse'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/channel:
    post:
      summary: 'create a channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      description: "Create a channel\n"
      requestBody:
        description: "Information of channel to be created\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                channelId:
                  type: 'string'
                displayName:
                  type: 'string'
                type:
                  type: 'string'
                  enum:
                    - 'standard'
                metadata:
                  type: 'object'
                tags:
                  type: 'array'
                  items:
                    type: 'string'
                userIds:
                  type: 'array'
                  items:
                    type: 'string'
                avatarFileId:
                  type: 'string'
              required:
                - 'channelId'
                - 'type'
      responses:
        '200':
          $ref: './v2/channel/response.yaml#/ChannelAndUserApiResponse'
        '403':
          allOf:
            - $ref: './global/error.yaml#/ForbiddenAvatarError'
            - $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/channel/{channelId}/displayName:
    post:
      summary: 'change channel displayName'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      description: "Change a channel's displayName\n"
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Information of channel to be changed\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                displayName:
                  type: 'string'
              required:
                - 'displayName'
      responses:
        '200':
          $ref: './v2/channel/response.yaml#/ChannelApiResponse'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/channel/{channelId}/users/ban:
    post:
      summary: 'ban users in channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      description: "Ban users in channel\n"
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "channelId and userIds\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userIds:
                  type: 'array'
                  minItems: 1
                  maxItems: 100
                  items:
                    type: 'string'
                    minLength: 1
                    maxLength: 50
              required:
                - 'userIds'
      responses:
        '200':
          description: 'OK'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '400304':
          $ref: './global/error.yaml#/UserIsBannedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/channel/{channelId}/users/unban:
    post:
      summary: 'unban users in channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      description: "Unban users in channel\n"
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "channelId and userIds\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userIds:
                  type: 'array'
                  minItems: 1
                  maxItems: 100
                  items:
                    type: 'string'
                    minLength: 1
                    maxLength: 50
              required:
                - 'userIds'
      responses:
        '200':
          description: 'OK'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '400316':
          $ref: './global/error.yaml#/UserIsUnbannedError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/channels/{channelId}/close:
    post:
      summary: 'close channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      description: "Close channel\n"
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      responses:
        '200':
          description: 'OK'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/channel/{channelId}/avatar:
    put:
      summary: 'Set or Remove avatar from channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      description: "Set or Remove avatar from channel. Put null inside avatarFileId to remove avatar.\n"
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Information of channel to be created\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                avatarFileId:
                  type: 'string'
              required:
                - 'avatarFileId'
      responses:
        '200':
          $ref: './v2/channel/response.yaml#/ChannelApiResponse'
        '403':
          allOf:
            - $ref: './global/error.yaml#/ForbiddenAvatarError'
            - $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/FileNotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/channel/{channelId}/mute:
    put:
      summary: 'Mute channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      description: "Mute all users in channel for a specific period of time.\n"
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Information of channel to be muted and period\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                mutePeriod:
                  type: 'number'
                  description: 'mute period (milliseconds)'
              required:
                - 'mutePeriod'
      responses:
        '200':
          $ref: './v2/channel/response.yaml#/MuteApiResponse'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v2/channel/{channelId}/users/mute:
    put:
      summary: 'Mute user in channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      description: "Mute a user in channel for a specific period of time.\n"
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Information of channel to be muted and period\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userIds:
                  type: 'array'
                  items:
                    type: 'string'
                    maxLength: 50
                  maxItems: 100
                mutePeriod:
                  type: 'number'
                  description: 'mute period (milliseconds)'
              required:
                - 'userIds'
                - 'mutePeriod'
      responses:
        '200':
          $ref: './v2/channel/response.yaml#/MuteApiResponse'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/channels:
    get:
      summary: 'query channels.'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'keyword'
          in: 'query'
          schema:
            type: 'string'
            maxLength: 100
        - name: 'isDeleted'
          in: 'query'
          schema:
            type: 'boolean'
            default: null
          description: "isDeleted:\n  * `null(default)` - Show both channel is actived and channel is inactived.\n  * `true` - Show channel is inactived only.\n  * `false` - Show channel is actived only.\n"
        - name: 'tags'
          in: 'query'
          collectionFormat: 'multi'
          schema:
            type: 'array'
            maxItems: 10
            items:
              type: 'string'
              maxLength: 100
        - name: 'excludeTags'
          in: 'query'
          collectionFormat: 'multi'
          schema:
            type: 'array'
            maxItems: 10
            items:
              type: 'string'
              maxLength: 100
        - name: 'filter'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'all'
              - 'member'
              - 'notMember'
              - 'flagged'
            default: 'all'
        - name: 'types'
          in: 'query'
          collectionFormat: 'multi'
          schema:
            type: 'array'
            maxItems: 10
            items:
              type: 'string'
              enum:
                - 'standard'
                - 'private'
                - 'conversation'
                - 'broadcast'
                - 'live'
                - 'community'
        - name: 'userId'
          in: 'query'
          schema:
            type: 'string'
            maxLength: 100
        - name: 'sortBy'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'lastActivity'
              - 'lastCreated'
              - 'firstCreated'
              - 'displayName'
            default: 'lastActivity'
        - name: 'options'
          in: 'query'
          style: 'deepObject'
          schema:
            type: 'object'
            properties:
              limit:
                type: 'integer'
                minimum: 1
                maximum: 100
                default: 10
              token:
                type: 'string'
                maxLength: 100
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelPaginationApiResponse'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    post:
      summary: 'create a channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      requestBody:
        description: "Information of channel to be created\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                channelId:
                  type: 'string'
                  maxLength: 100
                type:
                  type: 'string'
                  enum:
                    - 'community'
                    - 'live'
                    - 'broadcast'
                  default: 'community'
                displayName:
                  type: 'string'
                  maxLength: 100
                avatarFileId:
                  type: 'string'
                  maxLength: 50
                metadata:
                  type: 'object'
                tags:
                  type: 'array'
                  maxItems: 10
                  items:
                    type: 'string'
                    maxLength: 100
                userIds:
                  type: 'array'
                  maxItems: 1000
                  items:
                    type: 'string'
                    maxLength: 50
                isMuted:
                  type: 'boolean'
                messageAutoDeleteEnabled:
                  type: 'boolean'
                autoDeleteMessageByFlagLimit:
                  type: 'number'
                  min: 1
                  max: 100
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          allOf:
            - $ref: './global/error.yaml#/ForbiddenAvatarError'
            - $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/channels/{channelId}:
    get:
      summary: 'get a channel by ID.'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    put:
      summary: 'update a channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Information of channel to be updated\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                displayName:
                  type: 'string'
                  maxLength: 100
                avatarFileId:
                  type: 'string'
                  maxLength: 50
                metadata:
                  type: 'object'
                tags:
                  type: 'array'
                  maxItems: 10
                  items:
                    type: 'string'
                    maxLength: 100
                messageAutoDeleteEnabled:
                  type: 'boolean'
                autoDeleteMessageByFlagLimit:
                  type: 'number'
                  min: 1
                  max: 100
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          allOf:
            - $ref: './global/error.yaml#/ForbiddenAvatarError'
            - $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    delete:
      summary: 'delete a channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  status:
                    type: 'string'
                  data:
                    type: 'object'
                    properties:
                      success:
                        type: 'boolean'
        '403':
          $ref: './global/error.yaml#/PermissionDenidedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/channels/{channelId}/join:
    post:
      summary: 'join a channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          allOf:
            - $ref: './global/error.yaml#/ForbiddenError'
            - $ref: './global/error.yaml#/PermissionDenidedError'
        '400304':
          $ref: './global/error.yaml#/UserIsBannedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/channels/{channelId}/leave:
    delete:
      summary: 'leave a channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          allOf:
            - $ref: './global/error.yaml#/ForbiddenError'
            - $ref: './global/error.yaml#/PermissionDenidedError'
        '400304':
          $ref: './global/error.yaml#/UserIsBannedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/channels/{channelId}/users:
    get:
      summary: 'query channel users'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'roles'
          in: 'query'
          collectionFormat: 'multi'
          schema:
            type: 'array'
            minItems: 1
            maxItems: 20
            items:
              type: 'string'
              minLength: 1
              maxLength: 900
          description: 'Role to filter'
        - name: 'filter'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'all'
              - 'muted'
              - 'banned'
              - 'member&banned'
            default: 'all'
        - name: 'sortBy'
          in: 'query'
          schema:
            type: 'string'
            enum:
              - 'lastCreated'
              - 'firstCreated'
            default: 'lastCreated'
        - name: 'options'
          in: 'query'
          style: 'deepObject'
          schema:
            type: 'object'
            properties:
              limit:
                type: 'integer'
                minimum: 1
                maximum: 100
                default: 10
              token:
                type: 'string'
                maxLength: 100
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelPaginationApiResponse'
        '403':
          $ref: './global/error.yaml#/ForbiddenError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    post:
      summary: 'add channel users'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Information of channel\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userIds:
                  type: 'array'
                  minItems: 1
                  maxItems: 100
                  items:
                    type: 'string'
                    minLength: 1
                    maxLength: 50
              required:
                - 'userIds'
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          allOf:
            - $ref: './global/error.yaml#/ForbiddenError'
            - $ref: './global/error.yaml#/PermissionDenidedError'
        '400304':
          $ref: './global/error.yaml#/UserIsBannedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    delete:
      summary: 'remove channel users'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Information of channel\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userIds:
                  type: 'array'
                  minItems: 1
                  maxItems: 100
                  items:
                    type: 'string'
                    minLength: 1
                    maxLength: 50
              required:
                - 'userIds'
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          allOf:
            - $ref: './global/error.yaml#/ForbiddenError'
            - $ref: './global/error.yaml#/PermissionDenidedError'
        '400304':
          $ref: './global/error.yaml#/UserIsBannedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/channels/{channelId}/users/ban:
    put:
      summary: 'ban channel users'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Information of channel\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userIds:
                  type: 'array'
                  minItems: 1
                  maxItems: 100
                  items:
                    type: 'string'
                    minLength: 1
                    maxLength: 50
              required:
                - 'userIds'
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          allOf:
            - $ref: './global/error.yaml#/ForbiddenError'
            - $ref: './global/error.yaml#/PermissionDenidedError'
        '400304':
          $ref: './global/error.yaml#/UserIsBannedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/channels/{channelId}/users/unban:
    put:
      summary: 'unban channel users'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        description: "Information of channel\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userIds:
                  type: 'array'
                  minItems: 1
                  maxItems: 100
                  items:
                    type: 'string'
                    minLength: 1
                    maxLength: 50
              required:
                - 'userIds'
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          allOf:
            - $ref: './global/error.yaml#/ForbiddenError'
            - $ref: './global/error.yaml#/PermissionDenidedError'
        '400304':
          $ref: './global/error.yaml#/UserIsBannedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/channels/{channelId}/users/roles:
    post:
      summary: 'Add role to channel users'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                role:
                  type: 'string'
                  minLength: 1
                  maxLength: 900
                userIds:
                  type: 'array'
                  minItems: 1
                  maxItems: 100
                  items:
                    type: 'string'
                    minLength: 1
                    maxLength: 50
              required:
                - 'userIds'
                - 'role'
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          $ref: './global/error.yaml#/GenericPermissionDenidedError'
        '400304':
          $ref: './global/error.yaml#/UserIsBannedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
    delete:
      summary: 'Remove role from channel users'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      parameters:
        - name: 'channelId'
          in: 'path'
          required: true
          schema:
            type: 'string'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                role:
                  type: 'string'
                  minLength: 1
                  maxLength: 900
                userIds:
                  type: 'array'
                  minItems: 1
                  maxItems: 100
                  items:
                    type: 'string'
                    minLength: 1
                    maxLength: 50
              required:
                - 'userIds'
                - 'role'
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          $ref: './global/error.yaml#/GenericPermissionDenidedError'
        '400304':
          $ref: './global/error.yaml#/UserIsBannedError'
        '429':
          $ref: './global/error.yaml#/RateLimitError'
        '404':
          $ref: './global/error.yaml#/NotFoundError'
        '500':
          $ref: './global/error.yaml#/UnexpectedError'
  /api/v3/channels/conversation:
    post:
      summary: 'create a conversation channel'
      tags:
        - 'Channel'
      security:
        - BearerAuth: []
      requestBody:
        description: "Information of conversation channel to be created\n"
        required: true
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                userIds:
                  type: 'array'
                  maxItems: 10
                  items:
                    type: 'string'
                    maxLength: 50
                isDistinct:
                  type: 'boolean'
                  default: true
                displayName:
                  type: 'string'
                  maxLength: 100
                avatarFileId:
                  type: 'string'
                  maxLength: 50
                metadata:
                  type: 'object'
                tags:
                  type: 'array'
                  maxItems: 10
                  items:
                    type: 'string'
                    maxLength: 100
              required:
                - 'userIds'
      responses:
        '200':
          $ref: './v3/channel/response.yaml#/ChannelsApiResponse'
        '403':
          allOf:
[...]
