{openapi: 3.0.0, info: {title: Amity Social Cloud SDK, description: "<h2>Using Amity APIs</h2>\n\nOur API documentation explains all API endpoints used in Amity Social Cloud. All APIs, with the exception of some\nauthentication APIs, require an access token for authentication and authorization. APIs can be used either in Admin\nor User context. When used in user context, you will only be able to fetch data related to that user only.\nFor Administrators who are using our API documentation in making server-to-server API calls, you need an Admin\nAccess token to connect to the Amity server. Refer to <a href=\"https://docs.amity.co/console/settings#admin-api-access-token\" target=\"_blank\">this documentation</a>\nfor the instructions on how to generate an admin access token.\n\nAll backend endpoints that support Amity SDK are included here. To easily differentiate the type of each endpoint,\nwe added a prefix in each endpoint's path.\n\n1. Socket Endpoint: /sockets/...\n2. Socket Event: /callbacks/...\n3. REST API Endpoint: /v1/, /v2/, /v3/, or /v4/...\n4. Webhook Event: /webhook/...\n\n<h2>Select Region Endpoint</h2>\n\nBefore making server-to-server API calls, be sure to select the correct API endpoint for your region in\nthe <strong>Servers</strong> dropdown below.\n", version: 4.51.0}, servers: [{url: https://api.us.amity.co, description: API Endpoint for US Region}, {url: https://api.eu.amity.co, description: API Endpoint for EU Region}, {url: https://api.sg.amity.co, description: API Endpoint for SG Region}], paths: {/api/v3/authentication/token: {get: {summary: Get authentication token, tags: [Authentication], parameters: [{name: x-server-key, in: header, required: true, schema: {type: string, maxLength: 150}}, {in: query, name: userId, schema: {type: string, maxLength: 100, require: true}, description: User id to get token for}], responses: {'50000': {description: Put a wrong request parameters., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Parameters error., data: {detail: [The 'data.text' field length must be less than or equal to 20000 characters long.]}}}}}, '200000': {content: {application/json: {schema: {type: string, example: s9qne0wEqVb2e05271177748659f574a4e8ab85e08}}}}, '400300': {description: No permission to access this resource., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400300, message: Forbidden error.}}}}}}}, /api/v4/authentication/token: {post: {summary: Create authentication token for session creation API, tags: [Authentication], parameters: [{name: x-server-key, in: header, required: true, schema: {type: string}}], description: "Create authentication token for session creation API. Token userId need to match userId when using it\n", requestBody: {content: {application/json: {schema: {type: object, properties: {userId: {type: string, description: User id to assign this token}}}}}}, responses: {'200': {description: Response payload, content: {text/plain: {schema: {type: string, example: s9qne0wEqVb2e05271177748659f574a4e8ab85e08, description: Use this token when create sessions}}}}, '401': {description: Unauthorized. Server key is invalid., content: {text/plain: {schema: {type: string, example: Unauthorized, description: Server key is invalid}}}}, '403': {description: Forbidden. Possibly that secure mode is disabled, content: {application/json: {schema: {type: object, properties: {status: {type: string}, message: {type: string}, code: {type: number}, data: {type: object, description: error detail}}}}}}, '422': {description: Parameters validation error, content: {application/json: {schema: {type: object, properties: {status: {type: string}, message: {type: string}, code: {type: number}, data: {type: object, description: error detail}}}}}}}}}, /api/v3/sessions: {post: {summary: Register a session, tags: [Session], parameters: [{name: x-api-key, in: header, required: true, schema: {type: string}}], description: "Register a session in order to connect to socket endpoint to perform sdk operations.\n", requestBody: {description: "Information about user and devices that he/she use to connect to. If displayName is provide, that user display is updated as well.\n\nIf userId doesn't exists, new user will be created.\n\nauthToken need to pass when network option is set to secure\n", required: true, content: {application/json: {schema: {type: object, properties: {userId: {type: string, minLength: 1, maxLength: 50}, deviceId: {type: string, minLength: 1, maxLength: 150}, deviceInfo: {type: object, properties: {kind: {type: string, enum: [ios, android, web, node]}, model: {type: string, maxLength: 100}, sdkVersion: {type: string, maxLength: 30}}}, displayName: {type: string, maxLength: 50}, authToken: {type: string, description: Authentication token from /api/v3/authentication/token, minLength: 1, maxLength: 100}}, required: [userId, deviceId]}}}}, responses: {'200000': {description: Session Information, content: {application/json: {schema: {type: object, properties: {accessToken: {type: string}, refreshToken: {type: string}, issuedAt: {type: string}, expiresAt: {type: string}, users: {type: array, items: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, permissions: {type: array, items: {type: string, enum: [MUTE_CHANNEL, CLOSE_CHANNEL, EDIT_CHANNEL, EDIT_CHANNEL_RATELIMIT, EDIT_MESSAGE, DELETE_MESSAGE, BAN_USER_FROM_CHANNEL, MUTE_USER_INSIDE_CHANNEL, ADD_CHANNEL_USER, REMOVE_CHANNEL_USER, EDIT_CHANNEL_USER, ASSIGN_CHANNEL_USER_ROLE, BAN_USER, EDIT_USER, ASSIGN_USER_ROLE, EDIT_USER_FEED_POST, DELETE_USER_FEED_POST, EDIT_USER_FEED_COMMENT, DELETE_USER_FEED_COMMENT, ADD_COMMUNITY_USER, REMOVE_COMMUNITY_USER, EDIT_COMMUNITY_USER, BAN_COMMUNITY_USER, MUTE_COMMUNITY_USER, EDIT_COMMUNITY, DELETE_COMMUNITY, EDIT_COMMUNITY_POST, DELETE_COMMUNITY_POST, PIN_COMMUNITY_POST, EDIT_COMMUNITY_COMMENT, DELETE_COMMUNITY_COMMENT, ASSIGN_COMMUNITY_USER_ROLE, CREATE_COMMUNITY_CATEGORY, EDIT_COMMUNITY_CATEGORY, DELETE_COMMUNITY_CATEGORY, CREATE_ROLE, EDIT_ROLE, DELETE_ROLE]}}, displayName: {type: string}, description: {type: string}, avatarFileId: {type: string}, avatarCustomUrl: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, isGlobalBan: {type: boolean, description: Global ban status. Every user can see this flag.}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}}, required: [userId, createdAt, updatedAt]}}, files: {type: array, items: {type: object, properties: {fileId: {type: string, description: Root file key on cloud storage.}, fileUrl: {type: string, description: Http link for download file}, type: {type: enum, description: File type., enum: [image, file, video]}, createdAt: {type: string, description: The date/time when a file is uploaded., format: date-time}, updatedAt: {type: string, description: The date/time when a file is updated., format: date-time}, attributes: {type: object, properties: {name: {type: string, description: File name.}, extension: {type: string, description: File format.}, size: {type: string, description: File size.}, mimeType: {type: string, description: File mime-type.}, metadata: {type: object, description: 'File image metadata (width, height etc.).', properties: {exif: {type: object}, gps: {type: object}, height: {type: number}, width: {type: number}, isFull: {type: boolean}}}}}}}}}}}}}, '400100': {description: User is banned from the system., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400100, message: User is banned from the system.}}}}, '400312': {description: User is global banned., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400312, message: User is global banned.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}, get: {summary: Verify access token, tags: [Session], description: Verify access token. The caller must add accessToken in header., responses: {'200': {description: Access token is valid}, '401': {description: Access token is invalid or expired}, '403': {description: User is global banned}, '404': {description: Not found}, '422': {description: Parameters validation error}}, security: [{bearerAuth: []}]}}, /api/v4/sessions: {post: {summary: Register a session, tags: [Session], parameters: [{name: x-api-key, in: header, required: true, schema: {type: string}}], description: "Register a session in order to connect to socket endpoint to perform sdk operations.\n", requestBody: {description: "Information about user and devices that he/she use to connect to. If displayName is provide, that user display is updated as well.\n\nIf userId doesn't exists, new user will be created.\n\nauthToken need to pass when network option is set to secure\n\naccessToken expiry 30 days\n", required: true, content: {application/json: {schema: {type: object, properties: {userId: {type: string, minLength: 1, maxLength: 50}, deviceId: {type: string, minLength: 1, maxLength: 150}, deviceInfo: {type: object, properties: {kind: {type: string, enum: [ios, android, web, node]}, model: {type: string, maxLength: 100}, sdkVersion: {type: string, maxLength: 30}}}, displayName: {type: string, maxLength: 50}, authToken: {type: string, description: Authentication token from /api/v3/authentication/token, minLength: 1, maxLength: 100}}, required: [userId, deviceId]}}}}, responses: {'200000': {description: Session Information, content: {application/json: {schema: {type: object, properties: {accessToken: {type: string}, refreshToken: {type: string}, issuedAt: {type: string}, expiresAt: {type: string}, users: {type: array, items: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, permissions: {type: array, items: {type: string, enum: [MUTE_CHANNEL, CLOSE_CHANNEL, EDIT_CHANNEL, EDIT_CHANNEL_RATELIMIT, EDIT_MESSAGE, DELETE_MESSAGE, BAN_USER_FROM_CHANNEL, MUTE_USER_INSIDE_CHANNEL, ADD_CHANNEL_USER, REMOVE_CHANNEL_USER, EDIT_CHANNEL_USER, ASSIGN_CHANNEL_USER_ROLE, BAN_USER, EDIT_USER, ASSIGN_USER_ROLE, EDIT_USER_FEED_POST, DELETE_USER_FEED_POST, EDIT_USER_FEED_COMMENT, DELETE_USER_FEED_COMMENT, ADD_COMMUNITY_USER, REMOVE_COMMUNITY_USER, EDIT_COMMUNITY_USER, BAN_COMMUNITY_USER, MUTE_COMMUNITY_USER, EDIT_COMMUNITY, DELETE_COMMUNITY, EDIT_COMMUNITY_POST, DELETE_COMMUNITY_POST, PIN_COMMUNITY_POST, EDIT_COMMUNITY_COMMENT, DELETE_COMMUNITY_COMMENT, ASSIGN_COMMUNITY_USER_ROLE, CREATE_COMMUNITY_CATEGORY, EDIT_COMMUNITY_CATEGORY, DELETE_COMMUNITY_CATEGORY, CREATE_ROLE, EDIT_ROLE, DELETE_ROLE]}}, displayName: {type: string}, description: {type: string}, avatarFileId: {type: string}, avatarCustomUrl: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, isGlobalBan: {type: boolean, description: Global ban status. Every user can see this flag.}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}}, required: [userId, createdAt, updatedAt]}}, files: {type: array, items: {type: object, properties: {fileId: {type: string, description: Root file key on cloud storage.}, fileUrl: {type: string, description: Http link for download file}, type: {type: enum, description: File type., enum: [image, file, video]}, createdAt: {type: string, description: The date/time when a file is uploaded., format: date-time}, updatedAt: {type: string, description: The date/time when a file is updated., format: date-time}, attributes: {type: object, properties: {name: {type: string, description: File name.}, extension: {type: string, description: File format.}, size: {type: string, description: File size.}, mimeType: {type: string, description: File mime-type.}, metadata: {type: object, description: 'File image metadata (width, height etc.).', properties: {exif: {type: object}, gps: {type: object}, height: {type: number}, width: {type: number}, isFull: {type: boolean}}}}}}}}}}}}}, '400100': {description: User is banned from the system., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400100, message: User is banned from the system.}}}}, '400312': {description: User is global banned., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400312, message: User is global banned.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}, delete: {summary: Revoke access token, tags: [Session], security: [{BearerAuth: []}], description: Revoke all userId's access token by admin, requestBody: {required: true, content: {application/json: {schema: {type: object, properties: {userId: {type: string, minLength: 1, maxLength: 50}}}}}}, responses: {'200': {description: Revoke access token success, content: {application/json: {schema: {type: object, properties: {success: {type: boolean, default: true}}}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}, 'UserIdNotFound: 404': {description: UserId Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: userId Not Found.}}}}, 'SessionNotFound: 404': {description: User is global banned}}}}, /v1/device: {post: {summary: Register a device, tags: [Device], parameters: [{name: x-api-key, in: header, required: true, schema: {type: string}}], description: "Register a session in order to connect to socket endpoint to perform sdk operations.\n", requestBody: {description: "Information about user and devices that he/she use to connect to. If displayName is provide, that user display is updated as well.\n\nIf userId doesn't exists, new user will be created.\n\nauthToken need to pass when network option is set to secure\n", required: true, content: {application/json: {schema: {type: object, properties: {userId: {type: string, minLength: 1, maxLength: 50}, deviceId: {type: string, minLength: 1, maxLength: 150}, deviceInfo: {type: object, properties: {kind: {type: string, enum: [ios, android, web, node]}, model: {type: string, maxLength: 100}, sdkVersion: {type: string, maxLength: 30}}}, displayName: {type: string, maxLength: 50}, authToken: {type: string, description: Authentication token from /api/v3/authentication/token, minLength: 1, maxLength: 100}}, required: [userId, deviceId]}}}}, responses: {'200000': {description: Return accessToken and refreshToken for using in create a connection socketIO, content: {application/json: {schema: {type: object, properties: {accessToken: {type: string}, refreshToken: {type: string}, issuedAt: {type: string}, expiresAt: {type: string}, users: {type: array, items: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, permissions: {type: array, items: {type: string, enum: [MUTE_CHANNEL, CLOSE_CHANNEL, EDIT_CHANNEL, EDIT_CHANNEL_RATELIMIT, EDIT_MESSAGE, DELETE_MESSAGE, BAN_USER_FROM_CHANNEL, MUTE_USER_INSIDE_CHANNEL, ADD_CHANNEL_USER, REMOVE_CHANNEL_USER, EDIT_CHANNEL_USER, ASSIGN_CHANNEL_USER_ROLE, BAN_USER, EDIT_USER, ASSIGN_USER_ROLE, EDIT_USER_FEED_POST, DELETE_USER_FEED_POST, EDIT_USER_FEED_COMMENT, DELETE_USER_FEED_COMMENT, ADD_COMMUNITY_USER, REMOVE_COMMUNITY_USER, EDIT_COMMUNITY_USER, BAN_COMMUNITY_USER, MUTE_COMMUNITY_USER, EDIT_COMMUNITY, DELETE_COMMUNITY, EDIT_COMMUNITY_POST, DELETE_COMMUNITY_POST, PIN_COMMUNITY_POST, EDIT_COMMUNITY_COMMENT, DELETE_COMMUNITY_COMMENT, ASSIGN_COMMUNITY_USER_ROLE, CREATE_COMMUNITY_CATEGORY, EDIT_COMMUNITY_CATEGORY, DELETE_COMMUNITY_CATEGORY, CREATE_ROLE, EDIT_ROLE, DELETE_ROLE]}}, displayName: {type: string}, description: {type: string}, avatarFileId: {type: string}, avatarCustomUrl: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, isGlobalBan: {type: boolean, description: Global ban status. Every user can see this flag.}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}}, required: [userId, createdAt, updatedAt]}}, files: {type: array, items: {type: object, properties: {fileId: {type: string, description: Root file key on cloud storage.}, fileUrl: {type: string, description: Http link for download file}, type: {type: enum, description: File type., enum: [image, file, video]}, createdAt: {type: string, description: The date/time when a file is uploaded., format: date-time}, updatedAt: {type: string, description: The date/time when a file is updated., format: date-time}, attributes: {type: object, properties: {name: {type: string, description: File name.}, extension: {type: string, description: File format.}, size: {type: string, description: File size.}, mimeType: {type: string, description: File mime-type.}, metadata: {type: object, description: 'File image metadata (width, height etc.).', properties: {exif: {type: object}, gps: {type: object}, height: {type: number}, width: {type: number}, isFull: {type: boolean}}}}}}}}}}}}}, '400100': {description: User is banned from the system., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400100, message: User is banned from the system.}}}}, '400312': {description: User is global banned., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400312, message: User is global banned.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /v1/accessToken: {get: {summary: Generate AccessToken., tags: [Device], security: [{ApiKeyAuth: []}], description: "Generate new Access Token.\n", parameters: [{in: query, name: userId, schema: {type: string}, required: true}, {in: query, name: refreshToken, schema: {type: string}, required: true}], responses: {'200000': {description: Return new accessToken, content: {application/json: {schema: {type: object, properties: {accessToken: {type: string}}}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /v1/blacklist/records: {put: {summary: Refresh black list, tags: [Moderation], security: [{ApiKeyAuth: []}], description: "Refresh the black list\n", requestBody: {description: "Regular expression to refresh.\n", required: true, content: {application/json: {schema: {type: object, properties: {regexs: {type: array, items: {type: string}}}, required: [regexs]}}}}}, post: {summary: Add rules to black list, tags: [Moderation], security: [{ApiKeyAuth: []}], description: "Add rules to the black list\n", requestBody: {description: "Regular expression to add.\n", required: true, content: {application/json: {schema: {type: object, properties: {regexs: {type: array, items: {type: string}}}, required: [regexs]}}}}}, delete: {summary: Delete rules from black list, tags: [Moderation], security: [{ApiKeyAuth: []}], description: "Delete rules from the black list\n", requestBody: {description: "Regular expression to delete.\n", required: true, content: {application/json: {schema: {type: object, properties: {ruleIds: {type: array, items: {type: string}}}, required: [regexs]}}}}}}, /admin/v1/token: {post: {summary: Generate admin token., tags: [Admin], security: [{ApiKeyAuth: []}], description: "Generate admin token\n", responses: {'200000': {description: Return admin token and expiry, content: {application/json: {schema: {type: object, properties: {adminToken: {type: string}, issuedAt: {type: string, format: date-time}, expiresAt: {type: string, format: date-time}}}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}, get: {summary: Get admin token., tags: [Admin], security: [{ApiKeyAuth: []}], description: "Get admin token\n", responses: {'200000': {description: Return admin token and expiry, content: {application/json: {schema: {type: object, properties: {adminToken: {type: string}, issuedAt: {type: string, format: date-time}, expiresAt: {type: string, format: date-time}}}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}, delete: {summary: Revoke admin token., tags: [Admin], security: [{ApiKeyAuth: []}], description: "Revoke admin token:\n  * super-admin can revoke any admin token\n  * admin can revoke own token only\n", requestBody: {required: true, content: {application/json: {schema: {type: object, properties: {username: {type: string, minLength: 1, maxLength: 50}}}}}}, responses: {'200000': {description: Revoke success, content: {application/json: {schema: {type: object, properties: {success: {type: boolean}}}}}}, '400301': {description: Permission denied., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400301, message: Permission denied}}}}, '400400': {description: username Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: username Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /admin/v1/blacklist/records: {get: {summary: get rules of blacklist., tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Get rules of blacklist.\n", parameters: [{name: Authorization, in: header, value: 'Bearer {{accessToken}}', required: true, schema: {type: string}}, {name: Content-Type, in: header, value: application/x-www-form-urlencoded, required: true, schema: {type: string}}, {name: regexs, in: query, collectionFormat: multi, schema: {type: array, items: {type: string}}}, {name: sortBy, in: query, schema: {type: string, enum: [lastCreated, firstCreated], default: firstCreated}}, {name: options, in: query, style: deepObject, schema: {type: object, properties: {limit: {type: integer, minimum: 1, maximum: 100, default: 10}, token: {type: string, maxLength: 1000}}}}], consumes: [application/x-www-form-urlencoded], responses: {'200000': {description: rules of blacklist Information, content: {application/json: {schema: {type: object, properties: {status: {type: string}, data: {type: object, properties: {results: {type: array, items: {type: object, properties: {ruleId: {type: string}, regex: {type: string, description: Rule of blacklist.}, isMatchExactWord: {type: boolean}, isEnabled: {type: boolean, description: A flag to enabled a rule.}, isDeleted: {type: boolean, description: A flag to deleted a rule.}, createdAt: {type: string, description: The date/time when a rule is created., format: date-time}, updatedAt: {type: string, description: The date/time when a rule is updated or deleted., format: date-time}}}}, paging: {type: object, properties: {next: {type: string}, previous: {type: string}}}}}}}}}}, '400400': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /api/v2/blacklist/records: {get: {summary: get rules of blacklist., tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Get rules of blacklist.\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}, {name: regexs, in: query, schema: {type: array, items: {type: string}}}], responses: {'200': {$ref: '#/components/responses/BlacklistRulesResponse'}, '404': {$ref: '#/components/responses/NotFoundError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}, put: {summary: refresh rules of blacklist., tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Refresh rules of blacklist.\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}], requestBody: {description: "Rules information to be refreshed.\n", required: true, content: {application/json: {schema: {type: object, properties: {regexs: {type: array, items: {type: string}}}, required: [regexs]}}}}, responses: {'200': {description: OK}, '404': {$ref: '#/components/responses/NotFoundError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}, post: {summary: add rules to blacklist., tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Add rules to blacklist\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}], requestBody: {description: "Rules information to be added.\n", required: true, content: {application/json: {schema: {type: object, properties: {regexs: {type: array, items: {type: string}}, isMatchExactWord: {type: boolean}}, required: [regexs]}}}}, responses: {'200': {description: OK}, '404': {$ref: '#/components/responses/NotFoundError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}, delete: {summary: delete rules from blacklist, tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Delete rule from blacklist\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}], requestBody: {description: "Rules information to be deleted.\n", required: true, content: {application/json: {schema: {type: object, properties: {ruleIds: {type: array, items: {type: string}}}, required: [ruleIds]}}}}, responses: {'200': {description: OK}, '404': {$ref: '#/components/responses/NotFoundError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}}, /api/v2/blacklist/records/:ruleId: {put: {summary: update rule of blacklist., tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Update rule of blacklist.\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}], requestBody: {description: "Rules information to be updated.\n", required: true, content: {application/json: {schema: {type: object, properties: {ruleId: {type: string}, isEnabled: {type: boolean}}, required: [ruleId, isEnabled]}}}}, responses: {'200': {$ref: '#/components/responses/BlacklistRuleResponse'}, '404': {$ref: '#/components/responses/NotFoundError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}}, /api/v2/messages: {post: {summary: Query messages., tags: [Admin], security: [{BearerAuth: []}], consumes: [application/json], requestBody: {description: "condition for querying\n", required: true, content: {application/json: {schema: {type: object, properties: {channelId: {type: string}, parentId: {type: string}, filterByParentId: {type: boolean}, tags: {type: array, description: List of including tags. They will be used for searching., items: {type: string}}, excludeTags: {type: array, description: List of excluding tags. They will be used for searching., items: {type: string}}, options: {type: object, properties: {after: {type: number}, first: {type: number}, before: {type: number}, last: {type: number}, token: {type: string}}}}, required: [channelId]}}}}, responses: {'200000': {description: Message information., content: {application/json: {schema: {type: object, properties: {status: {type: string}, data: {type: object, properties: {messages: {type: array, items: {type: object, properties: {_id: {type: string}, path: {type: string}, messageId: {type: string, description: ID of a message.}, parentId: {type: string, description: ID of a parent message.}, childrenNumber: {type: integer, description: A number of comments in this message.}, channelId: {type: string, description: ID of a channel.}, userId: {type: string, description: ID of a user.}, type: {type: string, description: 'Type of a message (text, image, video, json).'}, tags: {type: array, description: List of tags. They will be used for searching., items: {type: string}}, data: {type: object, description: Body of a message.}, isDeleted: {type: boolean, description: A flag to hide a message. Unable to show after hiding. It will be set to true when user deletes a message or a channel of this message is banned.}, channelSegment: {type: integer, description: A sequence number of a message in channel.}, createdAt: {type: string, description: The date/time when a channel is created., format: date-time}, updatedAt: {type: string, description: The date/time when a channel of this message is banned or this message is deleted., format: date-time}, editedAt: {type: string, description: The date/time when a message is deleted or updated., format: date-time}, flagCount: {type: integer, description: The number of users that has read this message.}, hashFlag: {type: object, description: The flag for checking internally that this message is reported or not., properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, reactions: {type: object, description: The mapping of reaction with reactionCounter.}, reactionsCount: {type: integer, description: The number of all reactions for this messages.}, myReactions: {type: array, description: The list of my reactions to this message. This property will not exist when it is triggered from an event 'message.didUpdate'., items: {type: string}}, latestReaction: {type: object, description: The latest reaction. This property will exist when it is triggered from an event 'message.didUpdate'., properties: {referenceId: {type: string, description: ID of a document.}, referenceType: {type: string, description: Type of document.}, reactionName: {type: string}, userId: {type: string}, userDisplayName: {type: string}, reactionId: {type: string}, eventName: {type: string}, createdAt: {type: string, description: The date/time when a reaction is created., format: date-time}}}, mentionees: {type: array, description: The object of the mentions type and user who get a notification for the message., items: {type: object, properties: {type: {type: string, description: "type: * `user` - need to specific userIds and notification mentions individual user * `channel` - notification mentions all user in channel\n", enum: [user, channel]}, userIds: {type: array, description: 'Array of UserId. if the mention type is a channel, doesn''t send userIds', items: {type: string}}}}}}, required: [messageId, channelId, userId, channelSegment, createdAt, updatedAt]}}, users: {type: array, items: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, displayName: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}, isDeleted: {type: boolean}}, required: [userId, createdAt, updatedAt]}}}}}}}}}}}}, /api/v2/message: {post: {summary: create a text message., tags: [Admin], security: [{BearerAuth: []}], consumes: [application/json], description: "Create a text message in a given channel.\n", requestBody: {description: "Information of message to be created.\n", required: true, content: {application/json: {schema: {type: object, properties: {channelId: {type: string}, type: {type: string, value: text}, data: {type: object, properties: {caption: {type: string, maxLength: 1000}}}, tags: {type: array, items: {type: string}}, parentId: {type: string}}, required: [channelId, type, data]}}}}, responses: {'200000': {description: Message information., content: {application/json: {schema: {type: object, properties: {status: {type: string}, data: {type: object, properties: {messages: {type: array, items: {type: object, properties: {_id: {type: string}, path: {type: string}, messageId: {type: string, description: ID of a message.}, parentId: {type: string, description: ID of a parent message.}, childrenNumber: {type: integer, description: A number of comments in this message.}, channelId: {type: string, description: ID of a channel.}, userId: {type: string, description: ID of a user.}, type: {type: string, description: 'Type of a message (text, image, video, json).'}, tags: {type: array, description: List of tags. They will be used for searching., items: {type: string}}, data: {type: object, description: Body of a message.}, isDeleted: {type: boolean, description: A flag to hide a message. Unable to show after hiding. It will be set to true when user deletes a message or a channel of this message is banned.}, channelSegment: {type: integer, description: A sequence number of a message in channel.}, createdAt: {type: string, description: The date/time when a channel is created., format: date-time}, updatedAt: {type: string, description: The date/time when a channel of this message is banned or this message is deleted., format: date-time}, editedAt: {type: string, description: The date/time when a message is deleted or updated., format: date-time}, flagCount: {type: integer, description: The number of users that has read this message.}, hashFlag: {type: object, description: The flag for checking internally that this message is reported or not., properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, reactions: {type: object, description: The mapping of reaction with reactionCounter.}, reactionsCount: {type: integer, description: The number of all reactions for this messages.}, myReactions: {type: array, description: The list of my reactions to this message. This property will not exist when it is triggered from an event 'message.didUpdate'., items: {type: string}}, latestReaction: {type: object, description: The latest reaction. This property will exist when it is triggered from an event 'message.didUpdate'., properties: {referenceId: {type: string, description: ID of a document.}, referenceType: {type: string, description: Type of document.}, reactionName: {type: string}, userId: {type: string}, userDisplayName: {type: string}, reactionId: {type: string}, eventName: {type: string}, createdAt: {type: string, description: The date/time when a reaction is created., format: date-time}}}, mentionees: {type: array, description: The object of the mentions type and user who get a notification for the message., items: {type: object, properties: {type: {type: string, description: "type: * `user` - need to specific userIds and notification mentions individual user * `channel` - notification mentions all user in channel\n", enum: [user, channel]}, userIds: {type: array, description: 'Array of UserId. if the mention type is a channel, doesn''t send userIds', items: {type: string}}}}}}, required: [messageId, channelId, userId, channelSegment, createdAt, updatedAt]}}, users: {type: array, items: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, displayName: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}, isDeleted: {type: boolean}}, required: [userId, createdAt, updatedAt]}}}}}}}}}, '400301': {description: Permission denied., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400301, message: User is not a member of a channel}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Channel Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Channel Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, '/api/v2/message/{messageId}': {get: {summary: get a message., tags: [Admin], security: [{BearerAuth: []}], description: "Get a message by ID.\n", parameters: [{name: messageId, in: path, required: true, schema: {type: string}}], consumes: [application/x-www-form-urlencoded], responses: {'200000': {content: {application/json: {schema: {type: object, properties: {channel: {type: object, properties: {isDistinct: {type: boolean}, type: {type: string, enum: [standard, private, conversation, broadcast, community, live], description: 'Type of a channel (standard, conversation, broadcast). This property is not be used for now.'}, metadata: {type: object, description: Additional properties to support custom fields.}, tags: {type: array, description: List of tags. They will be used for searching., items: {type: string}}, isMuted: {type: boolean, description: Is this channel muted? (Computed by using muteTimeout).}, lastActivity: {type: string, description: The date/time when a user last did something related to the channel such as add/remove members ., format: date-time}, createdAt: {type: string, description: The date/time when a channel is created., format: date-time}, updatedAt: {type: string, description: The date/time when a channel is updated., format: date-time}, isRateLimited: {type: boolean, description: Is this channel limited sending rate? (Computed by using muteTimeout).}, rateLimitWindow: {type: integer, description: Waiting time interval before reset rateLimit to 0.}, channelId: {type: string, description: ID of a channel.}, muteTimeout: {type: string, description: The date/time to suppress muteness., format: date-time}, rateLimit: {type: integer, description: Number of messages within rate limit.}, rateLimitTimeout: {type: string, description: The date/time to suppress limitation of sending rate., format: date-time}, displayName: {type: string, description: Channel name for displaying.}, messageAutoDeleteEnabled: {type: boolean, description: Is message in this channel will be deleted when the user flagged until flag limit?}, autoDeleteMessageByFlagLimit: {type: number, description: Number of flags that will force a message to be deleted automatically.}, memberCount: {type: integer, description: Number of members in channel.}, messageCount: {type: integer, description: Number of messages in channel.}, avatar: {type: object, properties: {fileId: {type: string, description: Root file key on cloud storage.}, fileUrl: {type: string, description: Http link for download file}, type: {type: enum, description: File type., enum: [image, file, video]}, createdAt: {type: string, description: The date/time when a file is uploaded., format: date-time}, updatedAt: {type: string, description: The date/time when a file is updated., format: date-time}, attributes: {type: object, properties: {name: {type: string, description: File name.}, extension: {type: string, description: File format.}, size: {type: string, description: File size.}, mimeType: {type: string, description: File mime-type.}, metadata: {type: object, description: 'File image metadata (width, height etc.).', properties: {exif: {type: object}, gps: {type: object}, height: {type: number}, width: {type: number}, isFull: {type: boolean}}}}}}}}}, message: {type: object, properties: {messageId: {type: string, description: ID of a message.}, parentId: {type: string, description: ID of a parent message.}, childrenNumber: {type: integer, description: A number of comments in this message.}, channelId: {type: string, description: ID of a channel.}, userId: {type: string, description: ID of a user.}, type: {type: string, description: 'Type of a message (text, image, video, json).'}, tags: {type: array, description: List of tags. They will be used for searching., items: {type: string}}, data: {type: object, description: Body of a message.}, isDeleted: {type: boolean, description: A flag to hide a message. Unable to show after hiding. It will be set to true when user deletes a message or a channel of this message is banned.}, channelSegment: {type: integer, description: A sequence number of a message in channel.}, createdAt: {type: string, description: The date/time when a channel is created., format: date-time}, updatedAt: {type: string, description: The date/time when a channel of this message is banned or this message is deleted., format: date-time}, editedAt: {type: string, description: The date/time when a message is deleted or updated., format: date-time}, flagCount: {type: integer, description: The number of users that has read this message.}, hashFlag: {type: object, description: The flag for checking internally that this message is reported or not., properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, reactions: {type: object, description: The mapping of reaction with reactionCounter.}, reactionsCount: {type: integer, description: The number of all reactions for this messages.}, myReactions: {type: array, description: The list of my reactions to this message. This property will not exist when it is triggered from an event 'message.didUpdate'., items: {type: string}}}}, user: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, displayName: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}, isDeleted: {type: boolean}}, required: [userId, createdAt, updatedAt]}}}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}, delete: {summary: delete a message., tags: [Admin], security: [{BearerAuth: []}], parameters: [{name: messageId, in: path, required: true, schema: {type: string}}], description: "Delete a message in a given channel.\n", responses: {'200000': {description: Success}, '400301': {description: Permission denied., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400301, message: User is not a member of a channel}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /api/v2/messages/images: {post: {summary: create an image message., tags: [Admin], security: [{BearerAuth: []}], consumes: [multipart/form-data], description: "Create a image message in a given channel.\n", requestBody: {description: "Information of message to be created.\n", required: true, content: {application/json: {schema: {type: object, properties: {channelId: {type: string}, caption: {type: string}, file: {type: object}, tags: {type: array, items: {type: string}}, parentId: {type: string}, fullImage: {type: string}}, required: [channelId, file]}}}}, responses: {'200000': {description: Message information., content: {application/json: {schema: {type: object, properties: {status: {type: string}, data: {type: object, properties: {messages: {type: array, items: {type: object, properties: {_id: {type: string}, path: {type: string}, messageId: {type: string, description: ID of a message.}, parentId: {type: string, description: ID of a parent message.}, childrenNumber: {type: integer, description: A number of comments in this message.}, channelId: {type: string, description: ID of a channel.}, userId: {type: string, description: ID of a user.}, type: {type: string, description: 'Type of a message (text, image, video, json).'}, tags: {type: array, description: List of tags. They will be used for searching., items: {type: string}}, data: {type: object, description: Body of a message.}, isDeleted: {type: boolean, description: A flag to hide a message. Unable to show after hiding. It will be set to true when user deletes a message or a channel of this message is banned.}, channelSegment: {type: integer, description: A sequence number of a message in channel.}, createdAt: {type: string, description: The date/time when a channel is created., format: date-time}, updatedAt: {type: string, description: The date/time when a channel of this message is banned or this message is deleted., format: date-time}, editedAt: {type: string, description: The date/time when a message is deleted or updated., format: date-time}, flagCount: {type: integer, description: The number of users that has read this message.}, hashFlag: {type: object, description: The flag for checking internally that this message is reported or not., properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, reactions: {type: object, description: The mapping of reaction with reactionCounter.}, reactionsCount: {type: integer, description: The number of all reactions for this messages.}, myReactions: {type: array, description: The list of my reactions to this message. This property will not exist when it is triggered from an event 'message.didUpdate'., items: {type: string}}, latestReaction: {type: object, description: The latest reaction. This property will exist when it is triggered from an event 'message.didUpdate'., properties: {referenceId: {type: string, description: ID of a document.}, referenceType: {type: string, description: Type of document.}, reactionName: {type: string}, userId: {type: string}, userDisplayName: {type: string}, reactionId: {type: string}, eventName: {type: string}, createdAt: {type: string, description: The date/time when a reaction is created., format: date-time}}}, mentionees: {type: array, description: The object of the mentions type and user who get a notification for the message., items: {type: object, properties: {type: {type: string, description: "type: * `user` - need to specific userIds and notification mentions individual user * `channel` - notification mentions all user in channel\n", enum: [user, channel]}, userIds: {type: array, description: 'Array of UserId. if the mention type is a channel, doesn''t send userIds', items: {type: string}}}}}}, required: [messageId, channelId, userId, channelSegment, createdAt, updatedAt]}}, users: {type: array, items: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, displayName: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}, isDeleted: {type: boolean}}, required: [userId, createdAt, updatedAt]}}}}}}}}}, '400301': {description: Permission denied., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400301, message: User is not a member of a channel}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Channel Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Channel Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, '/api/v2/messages/{messageId}/images': {get: {summary: get an image message, tags: [Admin], security: [{BearerAuth: []}], parameters: [{name: messageId, in: path, required: true, schema: {type: string}}, {name: size, in: query, required: true, schema: {type: string, enum: [small, medium, large, full (if fullImage)]}}], consumes: [application/json], description: "Get a message with image in a given channel.\n", responses: {'200000': {description: An image file}, '400301': {description: Permission denied., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400301, message: User is not a member of a channel}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Channel Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Channel Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /api/v2/messages/files: {post: {summary: create a message with file in a given channel, tags: [Admin], security: [{BearerAuth: []}], consumes: [multipart/form-data], description: "Create a message with file in a given channel.\n", requestBody: {description: "information of a message to be created.\n", required: true, content: {application/json: {schema: {type: object, properties: {channelId: {type: string}, caption: {type: string}, file: {type: object}, tags: {type: array, items: {type: string}}, parentId: {type: string}}, required: [channelId, file]}}}}, responses: {'200000': {description: Message information., content: {application/json: {schema: {type: object, properties: {status: {type: string}, data: {type: object, properties: {messages: {type: array, items: {type: object, properties: {_id: {type: string}, path: {type: string}, messageId: {type: string, description: ID of a message.}, parentId: {type: string, description: ID of a parent message.}, childrenNumber: {type: integer, description: A number of comments in this message.}, channelId: {type: string, description: ID of a channel.}, userId: {type: string, description: ID of a user.}, type: {type: string, description: 'Type of a message (text, image, video, json).'}, tags: {type: array, description: List of tags. They will be used for searching., items: {type: string}}, data: {type: object, description: Body of a message.}, isDeleted: {type: boolean, description: A flag to hide a message. Unable to show after hiding. It will be set to true when user deletes a message or a channel of this message is banned.}, channelSegment: {type: integer, description: A sequence number of a message in channel.}, createdAt: {type: string, description: The date/time when a channel is created., format: date-time}, updatedAt: {type: string, description: The date/time when a channel of this message is banned or this message is deleted., format: date-time}, editedAt: {type: string, description: The date/time when a message is deleted or updated., format: date-time}, flagCount: {type: integer, description: The number of users that has read this message.}, hashFlag: {type: object, description: The flag for checking internally that this message is reported or not., properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, reactions: {type: object, description: The mapping of reaction with reactionCounter.}, reactionsCount: {type: integer, description: The number of all reactions for this messages.}, myReactions: {type: array, description: The list of my reactions to this message. This property will not exist when it is triggered from an event 'message.didUpdate'., items: {type: string}}, latestReaction: {type: object, description: The latest reaction. This property will exist when it is triggered from an event 'message.didUpdate'., properties: {referenceId: {type: string, description: ID of a document.}, referenceType: {type: string, description: Type of document.}, reactionName: {type: string}, userId: {type: string}, userDisplayName: {type: string}, reactionId: {type: string}, eventName: {type: string}, createdAt: {type: string, description: The date/time when a reaction is created., format: date-time}}}, mentionees: {type: array, description: The object of the mentions type and user who get a notification for the message., items: {type: object, properties: {type: {type: string, description: "type: * `user` - need to specific userIds and notification mentions individual user * `channel` - notification mentions all user in channel\n", enum: [user, channel]}, userIds: {type: array, description: 'Array of UserId. if the mention type is a channel, doesn''t send userIds', items: {type: string}}}}}}, required: [messageId, channelId, userId, channelSegment, createdAt, updatedAt]}}, users: {type: array, items: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, displayName: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}, isDeleted: {type: boolean}}, required: [userId, createdAt, updatedAt]}}}}}}}}}, '400301': {description: Permission denied., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400301, message: User is not a member of a channel}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Channel Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Channel Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, '/api/v2/messages/{messageId}/files': {get: {summary: get a file message, tags: [Admin], security: [{BearerAuth: []}], parameters: [{name: messageId, in: path, required: true, schema: {type: string}}], consumes: [application/json], description: "Get a message with file in a given channel.\n", responses: {'200000': {description: A file}, '400301': {description: Permission denied., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400301, message: User is not a member of a channel}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Channel Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Channel Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /api/v2/moderation-settings: {get: {summary: get a moderation setting, tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}], consumes: [application/json], description: "Get a moderation setting.\n", responses: {'200': {$ref: '#/components/responses/ModerationSettingResponse'}, '400': {$ref: '#/components/responses/BadRequestError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}, put: {summary: update a moderation setting, tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Update a moderation setting\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}], requestBody: {description: "moderation setting information\n", required: true, content: {application/json: {schema: {type: object, properties: {maxRepetition: {type: integer, minimum: 0}, maxRepetitionTimeout: {type: integer, minimum: 0}, blacklistMuteTimeout: {type: integer, minimum: 0}, whitelistMuteTimeout: {type: integer, minimum: 0}, maxRepetitionMuteTimeout: {type: integer, minimum: 0}, enableImageModeration: {type: boolean}, imageModeration: {type: object, properties: {nudity: {type: number, minimum: 0}, suggestive: {type: number, minimum: 0}, violence: {type: number, minimum: 0}, disturbing: {type: number, minimum: 0}}}}}}}}, responses: {'200': {content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}}, example: {status: success, code: 200000}}}}}, '400': {$ref: '#/components/responses/BadRequestError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}}, /api/v2/reactions/messages/most: {get: {summary: Get message ids by the most of reactions., tags: [Admin], security: [{BearerAuth: []}], description: "Get message ids by the most of reactions.\n", parameters: [{name: limit, in: query, schema: {type: integer, minimum: 1}}, {name: reactionName, in: query, schema: {type: string}}], consumes: [application/x-www-form-urlencoded], responses: {'200000': {description: Message information., content: {application/json: {schema: {type: array, items: {type: object, properties: {messageId: {type: string}, reactionsCount: {type: integer}}}}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /api/v2/roles: {get: {summary: get all roles, tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Get all roles\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}, {name: filter, in: query, required: true, schema: {type: string}}], responses: {'200': {$ref: '#/components/responses/RolesResponse'}, '400': {$ref: '#/components/responses/BadRequestError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}, put: {summary: add permissions., tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Add permissions\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}], requestBody: {description: "Permission information to be added\n", required: true, content: {application/json: {schema: {type: object, properties: {publicIds: {type: array, items: {type: string}}, permissions: {type: array, items: {type: string}}}, required: [publicIds, permissions]}}}}, responses: {'200': {description: OK}, '404': {$ref: '#/components/responses/NotFoundError'}, '429': {$ref: '#/components/responses/RateLimitError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}}, /api/v2/whitelist/records: {get: {summary: get rules of whitelist., tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Get rules of whitelist.\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}, {name: regexs, in: query, required: true, schema: {type: array, items: {type: string}}}], responses: {'200': {$ref: '#/components/responses/WhitelistRulesResponse'}, '404': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}, put: {summary: refresh rules of whitelist., tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Refresh rules of whitelist.\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}], requestBody: {description: "Rules information to be refreshed.\n", required: true, content: {application/json: {schema: {type: object, properties: {regexs: {type: array, items: {type: string}}}, required: [regexs]}}}}, responses: {'200': {description: OK}, '404': {$ref: '#/components/responses/NotFoundError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}, post: {summary: add rules to whitelist., tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Add rules to whitelist\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}], requestBody: {description: "Rules information to be added.\n", required: true, content: {application/json: {schema: {type: object, properties: {regexs: {type: array, items: {type: string}}}, required: [regexs]}}}}, responses: {'200': {description: OK}, '404': {$ref: '#/components/responses/NotFoundError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}, delete: {summary: delete rules from whitelist, tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Delete rule from whitelist\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}], requestBody: {description: "Rules information to be deleted.\n", required: true, content: {application/json: {schema: {type: object, properties: {ruleIds: {type: array, items: {type: string}}}, required: [ruleIds]}}}}, responses: {'200': {description: OK}, '404': {$ref: '#/components/responses/NotFoundError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}}, /api/v2/whitelist/records/:ruleId: {put: {summary: update rule of whitelist., tags: [Admin], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Update rule of whitelist.\n", parameters: [{name: Authorization, in: header, required: true, schema: {type: string}}, {name: Content-Type, in: header, required: true, schema: {type: string}}], requestBody: {description: "Rules information to be updated.\n", required: true, content: {application/json: {schema: {type: object, properties: {ruleId: {type: string}, isEnabled: {type: boolean}}, required: [ruleId, isEnabled]}}}}, responses: {'200': {$ref: '#/components/responses/WhitelistRuleResponse'}, '404': {$ref: '#/components/responses/NotFoundError'}, '500': {$ref: '#/components/responses/UnexpectedError'}}}}, /api/v3/roles: {get: {summary: Get roles (pagination support), tags: [Admin], security: [{BearerAuth: []}], description: "Get roles (pagination support)\n", parameters: [{name: keyword, in: query, required: true, schema: {type: string, minLength: 0, maxLength: 100}, description: search keyword}, {name: sortBy, in: query, schema: {type: string, enum: [lastCreated, firstCreated, displayName], default: lastCreated}}, {name: options, in: query, style: deepObject, schema: {type: object, properties: {limit: {type: integer, minimum: 1, maximum: 100, default: 10}, token: {type: string, maxLength: 1000}}}}], consumes: [application/json], responses: {'200000': {description: Role Information, content: {application/json: {schema: {type: object, properties: {status: {type: string}, data: {type: array, items: {type: object, properties: {roleId: {type: string}, displayName: {type: string}, updatedAt: {type: string, description: The date/time when a role is updated or deleted., format: date-time}, permissions: {type: array, items: {type: string}, description: The list of permission for this role. https://github.com/EkoCommunications/UpstraEngineeringGitbook/blob/feature/roles/specification/roles.md#permissions}, isDeleted: {type: boolean, default: false}}, required: [roleId, permissions, updatedAt, isDeleted]}}}}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}, post: {summary: Create role, tags: [Admin], security: [{BearerAuth: []}], description: "Create a role\n", consumes: [application/json], requestBody: {description: "information of a role to be created.\n", required: true, content: {application/json: {schema: {type: object, properties: {roleId: {type: string, description: role id, minLength: 1, maxLength: 100}, displayName: {type: string, description: display name of role, minLength: 0, maxLength: 100}, permissions: {type: array, items: {type: string}, description: The list of permission for this role. https://github.com/EkoCommunications/UpstraEngineeringGitbook/blob/feature/roles/specification/roles.md#permissions}}, required: [roleId, permissions]}}}}, responses: {'200000': {description: Role Information, content: {application/json: {schema: {type: object, properties: {status: {type: string}, data: {type: array, items: {type: object, properties: {roleId: {type: string}, displayName: {type: string}, updatedAt: {type: string, description: The date/time when a role is updated or deleted., format: date-time}, permissions: {type: array, items: {type: string}, description: The list of permission for this role. https://github.com/EkoCommunications/UpstraEngineeringGitbook/blob/feature/roles/specification/roles.md#permissions}, isDeleted: {type: boolean, default: false}}, required: [roleId, permissions, updatedAt, isDeleted]}}}}}}}, '400000': {description: Bad Request error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400000, message: Bad Request.}}}}, '400301': {description: Permission denied., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400301, message: Permission denied}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, '/api/v3/roles/{roleId}': {get: {summary: Get role, tags: [Admin], security: [{BearerAuth: []}], description: "Get a role\n", parameters: [{name: roleId, in: path, required: true, schema: {type: string}}], consumes: [application/json], responses: {'200000': {description: Role Information, content: {application/json: {schema: {type: object, properties: {status: {type: string}, data: {type: array, items: {type: object, properties: {roleId: {type: string}, displayName: {type: string}, updatedAt: {type: string, description: The date/time when a role is updated or deleted., format: date-time}, permissions: {type: array, items: {type: string}, description: The list of permission for this role. https://github.com/EkoCommunications/UpstraEngineeringGitbook/blob/feature/roles/specification/roles.md#permissions}, isDeleted: {type: boolean, default: false}}, required: [roleId, permissions, updatedAt, isDeleted]}}}}}}}, '400400': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}, put: {summary: Update role, tags: [Admin], security: [{BearerAuth: []}], description: "Update a role\n", consumes: [application/json], requestBody: {description: "information of a role to be created.\n", required: true, content: {application/json: {schema: {type: object, properties: {roleId: {type: string, description: role id to update, minLength: 1, maxLength: 100}, displayName: {type: string, description: display name of role to update, minLength: 0, maxLength: 100}, permissions: {type: array, items: {type: string}, description: The list of permission to update. https://github.com/EkoCommunications/UpstraEngineeringGitbook/blob/feature/roles/specification/roles.md#permissions}}, required: [roleId, permissions]}}}}, responses: {'200000': {description: Role Information, content: {application/json: {schema: {type: object, properties: {status: {type: string}, data: {type: array, items: {type: object, properties: {roleId: {type: string}, displayName: {type: string}, updatedAt: {type: string, description: The date/time when a role is updated or deleted., format: date-time}, permissions: {type: array, items: {type: string}, description: The list of permission for this role. https://github.com/EkoCommunications/UpstraEngineeringGitbook/blob/feature/roles/specification/roles.md#permissions}, isDeleted: {type: boolean, default: false}}, required: [roleId, permissions, updatedAt, isDeleted]}}}}}}}, '400301': {description: Permission denied., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400301, message: Permission denied}}}}, '400400': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}, delete: {summary: Delete role, tags: [Admin], security: [{BearerAuth: []}], description: "Delete a role\n", consumes: [application/json], requestBody: {description: "information of a role to be delete.\n", required: true, content: {application/json: {schema: {type: object, properties: {roleId: {type: string, description: role id to delete, minLength: 1, maxLength: 100}}, required: [roleId]}}}}, responses: {'200000': {description: Role Information, content: {application/json: {schema: {type: object, properties: {status: {type: string}, data: {type: array, items: {type: object, properties: {roleId: {type: string}, displayName: {type: string}, updatedAt: {type: string, description: The date/time when a role is updated or deleted., format: date-time}, permissions: {type: array, items: {type: string}, description: The list of permission for this role. https://github.com/EkoCommunications/UpstraEngineeringGitbook/blob/feature/roles/specification/roles.md#permissions}, isDeleted: {type: boolean, default: false}}, required: [roleId, permissions, updatedAt, isDeleted]}}}}}}}, '400000': {description: Bad Request error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400000, message: Bad Request.}}}}, '400301': {description: Permission denied., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400301, message: Permission denied}}}}, '400400': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /admin/v1/reports/user-last-activity: {get: {summary: Download last activity user report.., tags: [Admin], parameters: [{name: Cookie, in: cookie, schema: {type: string}, description: Alternative way to pass authorization token}], description: "Download last activity user report.\n", responses: {'200000': {description: Get file for download file, content: {text/csv: {schema: {type: string}}}}}}}, /api/v2/users: {get: {summary: query users, tags: [User], security: [{BearerAuth: []}], description: "Query users\n", parameters: [{name: search, in: query, schema: {type: string}}, {name: filter, in: query, schema: {type: string, enum: [all, flagged], default: all}}, {name: pageToken, in: query, schema: {type: string}}, {name: limit, in: query, schema: {type: integer}}], consumes: [application/x-www-form-urlencoded], responses: {'200000': {description: Users Information, content: {application/json: {schema: {properties: {users: {type: array, items: {type: object, properties: {info: {type: object, properties: {_id: {type: string}, publicId: {type: string}, displayName: {type: string}, metadata: {type: object}, roleIds: {type: array, items: {type: string}}, isGlobalBan: {type: boolean}, roles: {type: array, items: {type: string}}, flagCount: {type: number}}}, session: {type: object}}}}, roles: {type: array, items: {type: object, properties: {_id: {type: string}, publicId: {type: string}, networkId: {type: string}, permissions: {type: array, items: {type: string}}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}}}}, paging: {type: object, properties: {next: {type: string}, prev: {type: string}}}}}}}}, '400000': {description: Bad Request error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400000, message: Bad Request.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}, put: {summary: Update user information., tags: [User], security: [{BearerAuth: []}], description: "Update user information such as displayName, roles and metadata\n", consumes: [application/x-www-form-urlencoded], requestBody: {description: "User information to be updated\n", required: true, content: {application/json: {schema: {type: object, properties: {userId: {type: string, maxLength: 50}, displayName: {type: string, maxLength: 100}, roles: {type: array, maxItems: 10, items: {type: string, maxLength: 100}}, metadata: {type: object, maxLength: 500}}}}}}, responses: {'200000': {description: User Information, content: {application/json: {schema: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, displayName: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}, isDeleted: {type: boolean}}, required: [userId, createdAt, updatedAt]}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /api/v2/users/ban: {post: {summary: ban a user., tags: [User], securityDefinition: {ApiKeyAuth: {type: apiKey, in: header, name: Authorization}}, description: "Ban a user\n", consumes: [applicationjson], requestBody: {description: "User information to be baned\n", required: true, content: {application/json: {schema: {type: object, properties: {userId: {type: string}}, required: [userId]}}}}, responses: {'200000': {description: OK}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /api/v2/users/unban: {post: {summary: unban a user., tags: [User], security: [{BearerAuth: []}], description: "Unban a user\n", consumes: [application/x-www-form-urlencoded], requestBody: {description: "User information to be unbaned\n", required: true, content: {application/json: {schema: {type: object, properties: {userId: {type: string}}, required: [userId]}}}}, responses: {'200000': {description: OK}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, '/api/v2/users/{userId}/flags': {delete: {summary: clear flag a user., tags: [User], security: [{BearerAuth: []}], description: "Clear flag a user\n", parameters: [{name: userId, in: path, required: true, schema: {type: string}}], consumes: [application/x-www-form-urlencoded], responses: {'200000': {description: User Information, content: {application/json: {schema: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, displayName: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}, isDeleted: {type: boolean}}, required: [userId, createdAt, updatedAt]}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '400400': {description: Resource Not Found error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400400, message: Resource Not Found.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /sockets/user.query: {post: {summary: query users, tags: [User], security: [{SocketAuth: []}], description: "Query users\n", requestBody: {description: "Query parameters\n", required: true, content: {application/json: {schema: {type: object, properties: {search: {type: string}, sortBy: {type: string, enum: [lastCreated, firstCreated, displayName], default: displayName}, options: {type: object, properties: {limit: {type: integer, minimum: 1, maximum: 100, default: 10}, token: {type: string}}}}}}}}, responses: {'200000': {description: Users Information, content: {application/json: {schema: {properties: {status: {type: string}, data: {type: object, properties: {results: {type: array, items: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, displayName: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}, isDeleted: {type: boolean}}, required: [userId, createdAt, updatedAt]}}, paging: {type: object, properties: {next: {type: string}, prev: {type: string}}}}}}}}}}, '400000': {description: Bad Request error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400000, message: Bad Request.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /sockets/user.get: {post: {summary: get users informations base on given userIds, tags: [User], security: [{SocketAuth: []}], description: "Get users informations\n", requestBody: {description: request userIds, required: true, content: {application/json: {schema: {type: object, properties: {userIds: {type: array, items: {type: string}}}, required: [userIds]}}}}, responses: {'200000': {description: Users Information, content: {application/json: {schema: {properties: {status: {type: string}, data: {type: array, items: {type: object, properties: {_id: {type: string, description: Private ID of a user. (for real-time event)}, path: {type: string, description: Path of a user. (for real-time event)}, userId: {type: string}, roles: {type: array, items: {type: string}}, displayName: {type: string}, flagCount: {type: integer}, hashFlag: {type: object, properties: {bits: {type: integer}, hashes: {type: integer}, hash: {type: array, items: {type: integer}}}}, metadata: {type: object}, createdAt: {type: string, format: date-time}, updatedAt: {type: string, format: date-time}, isDeleted: {type: boolean}}, required: [userId, createdAt, updatedAt]}}}}}}}, '400311': {description: Error due to a client create the same request with the same parameters exceed the number of time that server limit to., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 400311, message: RateLimit Exceed.}}}}, '500000': {description: Unexpected error., content: {application/json: {schema: {type: object, properties: {status: {type: string}, code: {type: string}, message: {type: string}, data: {type: object, properties: {detail: {type: array, items: {type: string}}}}}}, example: {status: error, code: 500000, message: Unexpected error}}}}}}}, /sockets/user.flag: {post: {summary: Flag a user., tags: [User], security: [{SocketAuth: []}], description: "Flag a user. If a user who flag already flagged target user, flag count will not increase\n
[...]
