openapi: "3.0.0"
info:
  title: "Social+ Cloud SDK"
  description:
    $ref: "./description.md"
  version: "4.103.0"
servers:
  - url: "https://apix.us.amity.co"
    description: "API Endpoint for US Region"
  - url: "https://apix.eu.amity.co"
    description: "API Endpoint for EU Region"
  - url: "https://apix.sg.amity.co"
    description: "API Endpoint for SG Region"
paths:
  /api/v1/ads/me:
    $ref: "./v1/ads/index.yaml#/me"
  /api/v1/archives/channels:
    $ref: "./v1/archive/index.yaml#/channels"
  /api/v1/archives/channels/{channelId}:
    $ref: "./v1/archive/index.yaml#/channels_channelId"
  /api/v1/analytics/activities:
    $ref: "./v1/analytics/index.yaml#/activities"
  /api/v1/analytics/views/posts/{postId}/users:
    $ref: "./v1/analytics/index.yaml#/views-posts_postId-users"
  /api/v1/analytics/views/stories/{storyId}/users:
    $ref: "./v1/analytics/index.yaml#/views-stories_storyId-users"
  /api/v3/authentication/token:
    $ref: "./v3/authentication/index.yaml#/token"
  /api/v4/authentication/token:
    $ref: "./v4/authentication/index.yaml#/token"
  /api/v2/channels/{channelId}/close:
    $ref: "./v2/channel/index.yaml#/close"
  /api/v2/channel/{channelId}/mute:
    $ref: "./v2/channel/index.yaml#/mute"
  /api/v2/channel/{channelId}/users/mute:
    $ref: "./v2/channel/index.yaml#/users-mute"
  /api/v2/search/channels:
    $ref: "./v2/channel/index.yaml#/search-channels"
  /api/v3/channels:
    $ref: "./v3/channel/index.yaml#/root"
  /api/v3/channels/seen:
    $ref: "./v3/channel/index.yaml#/seen"
  /api/v3/channels/{channelId}:
    $ref: "./v3/channel/index.yaml#/_channelId"
  /api/v3/channels/{channelId}/join:
    $ref: "./v3/channel/index.yaml#/_channelId-join"
  /api/v3/channels/{channelId}/leave:
    $ref: "./v3/channel/index.yaml#/_channelId-leave"
  /api/v3/channels/{channelId}/seen:
    $ref: "./v3/channel/index.yaml#/_channelId-seen"
  /api/v3/channels/{channelId}/users:
    $ref: "./v3/channel/index.yaml#/_channelId-users"
  /api/v3/channels/{channelId}/users/ban:
    $ref: "./v3/channel/index.yaml#/_channelId-users-ban"
  /api/v3/channels/{channelId}/users/unban:
    $ref: "./v3/channel/index.yaml#/_channelId-users-unban"
  /api/v3/channels/{channelId}/users/roles:
    $ref: "./v3/channel/index.yaml#/_channelId-users-roles"
  /api/v3/channels/conversation:
    $ref: "./v3/channel/index.yaml#/conversation"
  /api/v3/channels/list:
    $ref: "./v3/channel/index.yaml#/list"
  /api/v4/channels/{channelId}/users:
    $ref: "./v4/channel/index.yaml#/_channelId-users"
  /api/v3/comments:
    $ref: "./v3/comment/index.yaml#/root"
  /api/v3/comments/{commentId}:
    $ref: "./v3/comment/index.yaml#/_commentId"
  /api/v3/comments/{commentId}/flag:
    $ref: "./v3/comment/index.yaml#/_commentId-flag"
  /api/v3/comments/{commentId}/isflagbyme:
    $ref: "./v3/comment/index.yaml#/_commentId-isflagbyme"
  /api/v3/comments/{commentId}/unflag:
    $ref: "./v3/comment/index.yaml#/_commentId-unflag"
  /api/v3/comments/list:
    $ref: "./v3/comment/index.yaml#/list"
  /api/v3/comments/{commentId}/flags:
    $ref: "./v3/comment/index.yaml#/_commentId-flags"
  /api/v4/comments/{commentId}:
    $ref: "./v4/comment/index.yaml#/_commentId"
  /api/v3/communities:
    $ref: "./v3/community/index.yaml#/root"
  /api/v3/communities/{communityId}:
    $ref: "./v3/community/index.yaml#/_communityId"
  /api/v3/communities/{communityId}/join:
    $ref: "./v3/community/index.yaml#/_communityId-join"
  /api/v3/communities/{communityId}/leave:
    $ref: "./v3/community/index.yaml#/_communityId-leave"
  /api/v3/communities/{communityId}/users:
    $ref: "./v3/community/index.yaml#/_communityId-users"
  /api/v3/communities/{communityId}/users/ban:
    $ref: "./v3/community/index.yaml#/_communityId-users-ban"
  /api/v3/communities/{communityId}/users/unban:
    $ref: "./v3/community/index.yaml#/_communityId-users-unban"
  /api/v3/communities/{communityId}/users/roles:
    $ref: "./v3/community/index.yaml#/_communityId-users-roles"
  /api/v3/communities/{communityId}/permissions/me:
    $ref: "./v3/community/index.yaml#/_communityId-permissions-me"
  /api/v3/communities/list:
    $ref: "./v3/community/index.yaml#/list"
  /api/v3/communities/recommended:
    $ref: "./v3/community/index.yaml#/recommended"
  /api/v3/communities/top-trending:
    $ref: "./v3/community/index.yaml#/top-trending"
  /api/v4/communities/{communityId}/users/roles:
    $ref: "./v4/community/index.yaml#/_communityId-users-roles"
  /api/v3/community-categories:
    $ref: "./v3/community-category/index.yaml#/root"
  /api/v3/community-categories/{categoryId}:
    $ref: "./v3/community-category/index.yaml#/_categoryId"
  /api/v3/community-categories/list:
    $ref: "./v3/community-category/index.yaml#/list"
  /api/v1/me/following-feeds:
    $ref: "./v1/following-feed/index.yaml#/root"
  /api/v3/content-feeds:
    $ref: "./v3/content-feed/index.yaml#/root"
  /api/v3/community-feeds/{communityId}:
    $ref: "./v3/community-feed/index.yaml#/_communityId"
  /api/v3/global-feeds:
    $ref: "./v3/global-feed/index.yaml#/root"
  /api/v3/user-feeds/{userId}:
    $ref: "./v3/user-feed/index.yaml#/_userId"
  /api/v3/user-feeds/{userId}/count:
    $ref: "./v3/user-feed/index.yaml#/_userId-count"
  /api/v4/me/global-feeds:
    $ref: "./v4/global-feed/index.yaml#/root"
  /api/v5/me/global-feeds:
    $ref: "./v5/global-feed/index.yaml#/root"
  /api/v3/files:
    $ref: "./v3/file/index.yaml#/root"
  /api/v3/files/{fileId}:
    $ref: "./v3/file/index.yaml#/_fileId"
  /api/v3/files/{fileId}/download:
    $ref: "./v3/file/index.yaml#/_fileId-download"
  /api/v4/images:
    $ref: "./v4/file/index.yaml#/images"
  /api/v4/files:
    $ref: "./v4/file/index.yaml#/files"
  /api/v4/videos:
    $ref: "./v4/file/index.yaml#/videos"
  /api/v4/images/from-url:
    $ref: "./v4/file/index.yaml#/images-from-url"
  /api/v4/videos/from-url:
    $ref: "./v4/file/index.yaml#/videos-from-url"
  /api/v4/files/from-url:
    $ref: "./v4/file/index.yaml#/files-from-url"
  /api/v4/me/following/{userId}:
    $ref: "./v4/follow/index.yaml#/following_userId"
  /api/v4/me/followers/{userId}:
    $ref: "./v4/follow/index.yaml#/followers_userId"
  /api/v4/me/followers:
    $ref: "./v4/follow/index.yaml#/followers"
  /api/v4/users/{userId}/followers:
    $ref: "./v4/follow/index.yaml#/_userId-followers"
  /api/v4/me/following:
    $ref: "./v4/follow/index.yaml#/following"
  /api/v4/users/{userId}/following:
    $ref: "./v4/follow/index.yaml#/_userId-following"
  /api/v4/me/followInfo:
    $ref: "./v4/follow/index.yaml#/followInfo"
  /api/v4/users/{userId}/followInfo:
    $ref: "./v4/follow/index.yaml#/_userId-followInfo"
  /api/v5/users/{userId}/followInfo:
    $ref: "./v5/follow/index.yaml#/_userId-followInfo"
  # Global Featured Post
  /api/v1/pinned-posts/global:
    $ref: "./v1/pin-post/index.yaml#/global"
  /api/v1/pinned-posts/global/{postId}:
    $ref: "./v1/pin-post/index.yaml#/global_postId"
  /api/v1/markers/channels:
    $ref: "./v1/marker/index.yaml#/channels"
  /api/v1/markers/channels/{channelId}/mark-read:
    $ref: "./v1/marker/index.yaml#/channels_channelId-mark-read"
  /api/v1/markers/message-feeds:
    $ref: "./v1/marker/index.yaml#/message-feeds"
  /api/v1/markers/message-feeds/{messageFeedId}/mark-delivering:
    $ref: "./v1/marker/index.yaml#/message-feeds_messageFeedId-mark-delivering"
  /api/v1/markers/message-feeds/{messageFeedId}/mark-read:
    $ref: "./v1/marker/index.yaml#/message-feeds_messageFeedId-mark-read"
  /api/v1/markers/message-feeds/{messageFeedId}/start-reading:
    $ref: "./v1/marker/index.yaml#/message-feeds_messageFeedId-start-reading"
  /api/v1/markers/message-feeds/{messageFeedId}/stop-readings:
    $ref: "./v1/marker/index.yaml#/message-feeds_messageFeedId-stop-readings"
  /api/v1/markers/message-feeds/reading:
    $ref: "./v1/marker/index.yaml#/message-feeds-reading"
  /api/v1/markers/messages:
    $ref: "./v1/marker/index.yaml#/messages"
  /api/v1/markers/messages/{messageId}/delivered-users:
    $ref: "./v1/marker/index.yaml#/messages_messageId-delivered-users"
  /api/v1/markers/messages/{messageId}/read-users:
    $ref: "./v1/marker/index.yaml#/messages_messageId-read-users"
  /api/v1/markers/sync:
    $ref: "./v1/marker/index.yaml#/sync"
  /api/v1/markers/user-message-feed:
    $ref: "./v1/marker/index.yaml#/user-message-feed"
  /api/v1/markers/userMarker:
    $ref: "./v1/marker/index.yaml#/userMarker"
  /v1/blacklist/records:
    $ref: "./v1/moderation/index.yaml#/blacklist-records"
  /api/v2/blacklist/records:
    $ref: "./v2/moderation/index.yaml#/blacklist-records"
  /api/v2/blacklist/records/{ruleId}:
    $ref: "./v2/moderation/index.yaml#/blacklist-records_ruleId"
  /api/v2/moderation-settings:
    $ref: "./v2/moderation/index.yaml#/settings"
  /api/v2/whitelist/records:
    $ref: "./v2/moderation/index.yaml#/whitelist-records"
  /api/v2/whitelist/records/{ruleId}:
    $ref: "./v2/moderation/index.yaml#/whitelist-records_ruleId"
  /api/v3/allowlists:
    $ref: "./v3/moderation/index.yaml#/allowlists"
  /api/v3/blocklists:
    $ref: "./v3/moderation/index.yaml#/blocklists"
  /api/v3/allowlists/verify:
    $ref: "./v3/moderation/index.yaml#/allowlists-verify"
  /api/v3/blocklists/verify:
    $ref: "./v3/moderation/index.yaml#/blocklists-verify"
  /api/v5/message-feeds:
    $ref: "./v5/message-feed/index.yaml#/root"
  /api/v5/message-feeds/{messageFeedId}:
    $ref: "./v5/message-feed/index.yaml#/_messageFeedId"
  /api/v5/message-feeds/channel/{channelId}:
    $ref: "./v5/message-feed/index.yaml#/channel_channelId"
  /api/v5/message-feeds/list:
    $ref: "./v5/message-feed/index.yaml#/list"
  /api/v5/message-feeds/user/{creatorId}:
    $ref: "./v5/message-feed/index.yaml#/user_creatorId"
  /api/v3/messages:
    $ref: "./v3/message/index.yaml#/root"
  /api/v3/messages/list:
    $ref: "./v3/message/index.yaml#/list"
  /api/v3/messages/{messageId}:
    $ref: "./v3/message/index.yaml#/_messageId"
  /api/v3/messages/{messageId}/flag:
    $ref: "./v3/message/index.yaml#/_messageId-flag"
  /api/v3/messages/{messageId}/unflag:
    $ref: "./v3/message/index.yaml#/_messageId-unflag"
  /api/v3/messages/{messageId}/clearFlags:
    $ref: "./v3/message/index.yaml#/_messageId-clearFlags"
  /api/v3/messages/{messageId}/isFlaggedByMe:
    $ref: "./v3/message/index.yaml#/_messageId-isFlaggedByMe"
  /api/v5/messages:
    $ref: "./v5/message/index.yaml#/root"
  /api/v5/messages/{messageId}:
    $ref: "./v5/message/index.yaml#/_messageId"
  /api/v5/messages/{messageId}/flags/all:
    $ref: "./v5/message/index.yaml#/_messageId-flags-all"
  /api/v5/messages/{messageId}/flags:
    $ref: "./v5/message/index.yaml#/_messageId-flags"
  /api/v5/messages/list:
    $ref: "./v5/message/index.yaml#/list"
  /api/v5/messages/user/{creatorId}:
    $ref: "./v5/message/index.yaml#/user_creatorId"
  /api/v3/network-settings:
    $ref: "./v3/network-setting/index.yaml#/root"
  /api/v3/network-settings/chat:
    $ref: "./v3/network-setting/index.yaml#/chat"
  /api/v3/network-settings/feed-setting:
    $ref: "./v3/network-setting/index.yaml#/feed-setting"
  /api/v3/network-settings/moderation:
    $ref: "./v3/network-setting/index.yaml#/moderation"
  /api/v3/network-settings/prehook:
    $ref: "./v3/network-setting/index.yaml#/prehook"
  /api/v3/network-settings/social:
    $ref: "./v3/network-setting/index.yaml#/social"
  /api/v3/network-settings/semantic-search:
    $ref: "./v3/network-setting/index.yaml#/semantic-search"
  /api/v3/network-settings/users:
    $ref: "./v3/network-setting/index.yaml#/users"
  /api/v3/network-settings/video-streaming:
    $ref: "./v3/network-setting/index.yaml#/video-streaming"
  /api/v3/network-settings/webhook:
    $ref: "./v3/network-setting/index.yaml#/webhook"
  /api/v3/network-settings/uikit:
    $ref: "./v3/network-setting/index.yaml#/uikit"
  /v1/notification:
    $ref: "./v1/notification/index.yaml#/root"
  /api/v3/notification/setting:
    $ref: "./v3/notification/index.yaml#/setting"
  /api/v1/pinned-posts/communities/{communityId}:
    $ref: "./v1/pin-post/index.yaml#/communities_communityId"
  /api/v1/pinned-posts/communities/{communityId}/{placement}:
    $ref: "./v1/pin-post/index.yaml#/communities_communityId_placement"
  /api/v1/pinned-posts/communities/{communityId}/{placement}/{postId}:
    $ref: "./v1/pin-post/index.yaml#/communities_communityId_placement_postId"
  /api/v3/polls:
    $ref: "./v3/poll/index.yaml#/root"
  /api/v3/polls/{pollId}:
    $ref: "./v3/poll/index.yaml#/_pollId"
  /api/v3/polls/{pollId}/votes:
    $ref: "./v3/poll/index.yaml#/_pollId-votes"
  /api/v3/polls/{pollId}/answers/{answerId}:
    $ref: "./v3/poll/index.yaml#/_pollId-answers_answerId"
  /api/v3/posts:
    $ref: "./v3/post/index.yaml#/root"
  /api/v3/posts/{postId}:
    $ref: "./v3/post/index.yaml#/_postId"
  /api/v3/posts/{postId}/approve:
    $ref: "./v3/post/index.yaml#/_postId-approve"
  /api/v3/posts/{postId}/decline:
    $ref: "./v3/post/index.yaml#/_postId-decline"
  /api/v3/posts/{postId}/flag:
    $ref: "./v3/post/index.yaml#/_postId-flag"
  /api/v3/posts/{postId}/isflagbyme:
    $ref: "./v3/post/index.yaml#/_postId-isflagbyme"
  /api/v3/posts/{postId}/unflag:
    $ref: "./v3/post/index.yaml#/_postId-unflag"
  /api/v3/posts/list:
    $ref: "./v3/post/index.yaml#/list"
  /api/v3/posts/{postId}/flags:
    $ref: "./v3/post/index.yaml#/_postId-flags"
  /api/v4/posts:
    $ref: "./v4/post/index.yaml#/root"
  /api/v4/posts/{postId}:
    $ref: "./v4/post/index.yaml#/_postId"
  /api/v1/presence/settings:
    $ref: "./v1/presence/index.yaml#/settings"
  /api/v1/presence/settings/user:
    $ref: "./v1/presence/index.yaml#/settings-user"
  /api/v1/presence/users/list:
    $ref: "./v1/presence/index.yaml#/users-list"
  /api/v1/presence/network/users:
    $ref: "./v1/presence/index.yaml#/network-users"
  /api/v1/presence/network/users/count:
    $ref: "./v1/presence/index.yaml#/network-users-count"
  /api/v1/presence/heartbeat:
    $ref: "./v1/presence/index.yaml#/heartbeat"
  /api/v2/reactions/messages/most:
    $ref: "./v2/reaction/index.yaml#/messages-most"
  /api/v2/reactions:
    $ref: "./v2/reaction/index.yaml#/root"
  /api/v3/reactions:
    $ref: "./v3/reaction/index.yaml#/root"
  /api/v2/roles:
    $ref: "./v2/role/index.yaml#/root"
  /api/v3/roles:
    $ref: "./v3/role/index.yaml#/root"
  /api/v3/roles/{roleId}:
    $ref: "./v3/role/index.yaml#/_roleId"
  /api/v1/semantic-search/posts:
    $ref: "./v1/semantic-search/index.yaml#/posts"
  /api/v1/semantic-search/communities:
    $ref: "./v1/semantic-search/index.yaml#/communities"
  /api/v3/sessions:
    $ref: "./v3/session/index.yaml#/root"
  /api/v4/sessions:
    $ref: "./v4/session/index.yaml#/root"
  /api/v4/sessions/users/{userId}:
    $ref: "./v4/session/index.yaml#/users_userId"
  /api/v4/stories:
    $ref: "./v4/story/index.yaml#/root"
  /api/v4/stories/count:
    $ref: "./v4/story/index.yaml#/count"
  /api/v4/stories/seen:
    $ref: "./v4/story/index.yaml#/seen"
  /api/v4/stories-by-targets:
    $ref: "./v4/story/index.yaml#/stories-by-targets"
  /api/v4/stories/{storyId}:
    $ref: "./v4/story/index.yaml#/_storyId"
  /api/v4/stories/{storyId}/flags:
    $ref: "./v4/story/index.yaml#/_storyId-flags"
  /api/v4/stories/{storyId}/flags/all:
    $ref: "./v4/story/index.yaml#/_storyId-flags-all"
  /api/v5/me/global-story-targets:
    $ref: "./v5/story/index.yaml#/me-global-story-targets"
  /api/v2/users/ban:
    $ref: "./v2/user/index.yaml#/ban"
  /api/v2/users/unban:
    $ref: "./v2/user/index.yaml#/unban"
  /api/v2/users/{userId}/flags:
    $ref: "./v2/user/index.yaml#/_userId-flags"
  /api/v3/users:
    $ref: "./v3/user/index.yaml#/root"
  /api/v3/users/list:
    $ref: "./v3/user/index.yaml#/list"
  /api/v3/users/{userId}:
    $ref: "./v3/user/index.yaml#/_userId"
  /api/v3/users/{userId}/isFlagByMe:
    $ref: "./v3/user/index.yaml#/_userId-isFlagByMe"
  /api/v4/users/{userId}:
    $ref: "./v4/user/index.yaml#/_userId"
  /api/v4/me/flags/{userId}:
    $ref: "./v4/user/index.yaml#/me-flags_userId"
  /api/v4/me/user-blocks:
    $ref: "./v4/user/index.yaml#/me-user-blocks"
  /api/v4/me/user-blocks/{userId}:
    $ref: "./v4/user/index.yaml#/me-user-blocks_userId"
  /api/v3/user-event/video-streaming:
    $ref: "./v3/video-streaming/index.yaml#/user-event-video-streaming"
  /api/v3/video-streaming:
    $ref: "./v3/video-streaming/index.yaml#/root"
  /api/v3/video-streaming/{streamId}:
    $ref: "./v3/video-streaming/index.yaml#/_streamId"
  /api/v3/video-streaming/{streamId}/streaming-url:
    $ref: "./v3/video-streaming/index.yaml#/_streamId-streaming-url"
  /webhook/channel.didAddUsers:
    $ref: "./webhook/channel/index.yaml#/channel.didAddUsers"
  /webhook/channel.didBan:
    $ref: "./webhook/channel/index.yaml#/channel.didBan"
  /webhook/channel.didClose:
    $ref: "./webhook/channel/index.yaml#/channel.didClose"
  /webhook/channel.didCreate:
    $ref: "./webhook/channel/index.yaml#/channel.didCreate"
  /webhook/channel.didJoin:
    $ref: "./webhook/channel/index.yaml#/channel.didJoin"
  /webhook/channel.didLeave:
    $ref: "./webhook/channel/index.yaml#/channel.didLeave"
  /webhook/channel.didRemoveUsers:
    $ref: "./webhook/channel/index.yaml#/channel.didRemoveUsers"
  /webhook/channel.didUpdate:
    $ref: "./webhook/channel/index.yaml#/channel.didUpdate"
  /webhook/channel.didUpdateMeta:
    $ref: "./webhook/channel/index.yaml#/channel.didUpdateMeta"
  /webhook/follow.didAcceptRequest:
    $ref: "./webhook/follow/index.yaml#/follow.didAcceptRequest"
  /webhook/follow.didCancelRequest:
    $ref: "./webhook/follow/index.yaml#/follow.didCancelRequest"
  /webhook/follow.didCreate:
    $ref: "./webhook/follow/index.yaml#/follow.didCreate"
  /webhook/follow.didDeclineRequest:
    $ref: "./webhook/follow/index.yaml#/follow.didDeclineRequest"
  /webhook/follow.didDeleteFollower:
    $ref: "./webhook/follow/index.yaml#/follow.didDeleteFollower"
  /webhook/follow.didRequest:
    $ref: "./webhook/follow/index.yaml#/follow.didRequest"
  /webhook/follow.didUnfollow:
    $ref: "./webhook/follow/index.yaml#/follow.didUnfollow"
  /webhook/message.didAddReaction:
    $ref: "./webhook/message/index.yaml#/message.didAddReaction"
  /webhook/message.didClearflag:
    $ref: "./webhook/message/index.yaml#/message.didClearflag"
  /webhook/message.didCreate:
    $ref: "./webhook/message/index.yaml#/message.didCreate"
  /webhook/message.didDelete:
    $ref: "./webhook/message/index.yaml#/message.didDelete"
  /webhook/message.didFlag:
    $ref: "./webhook/message/index.yaml#/message.didFlag"
  /webhook/message.didRemoveReaction:
    $ref: "./webhook/message/index.yaml#/message.didRemoveReaction"
  /webhook/message.didUnflag:
    $ref: "./webhook/message/index.yaml#/message.didUnflag"
  /webhook/message.didUpdate:
    $ref: "./webhook/message/index.yaml#/message.didUpdate"
  /webhook/moderation.didBan:
    $ref: "./webhook/moderation/index.yaml#/moderation.didBan"
  /webhook/poll.didCreate:
    $ref: "./webhook/poll/index.yaml#/poll.didCreate"
  /webhook/poll.didUpdate:
    $ref: "./webhook/poll/index.yaml#/poll.didUpdate"
  /webhook/poll.didVote:
    $ref: "./webhook/poll/index.yaml#/poll.didVote"
  /webhook/push-notification/channel.created:
    $ref: "./webhook/push-notification/index.yaml#/channel.created"
  /webhook/push-notification/channel.joined:
    $ref: "./webhook/push-notification/index.yaml#/channel.joined"
  /webhook/push-notification/comment.created:
    $ref: "./webhook/push-notification/index.yaml#/comment.created"
  /webhook/push-notification/comment.reacted:
    $ref: "./webhook/push-notification/index.yaml#/comment.reacted"
  /webhook/push-notification/comment.replied:
    $ref: "./webhook/push-notification/index.yaml#/comment.replied"
  /webhook/push-notification/follow.accepted:
    $ref: "./webhook/push-notification/index.yaml#/follow.accepted"
  /webhook/push-notification/follow.created:
    $ref: "./webhook/push-notification/index.yaml#/follow.created"
  /webhook/push-notification/follow.requested:
    $ref: "./webhook/push-notification/index.yaml#/follow.requested"
  /webhook/push-notification/message.created:
    $ref: "./webhook/push-notification/index.yaml#/message.created"
  /webhook/push-notification/post.approved:
    $ref: "./webhook/push-notification/index.yaml#/post.approved"
  /webhook/push-notification/post.created:
    $ref: "./webhook/push-notification/index.yaml#/post.created"
  /webhook/push-notification/post.need-reviewing:
    $ref: "./webhook/push-notification/index.yaml#/post.need-reviewing"
  /webhook/push-notification/post.reacted:
    $ref: "./webhook/push-notification/index.yaml#/post.reacted"
  /webhook/push-notification/video-streaming.started:
    $ref: "./webhook/push-notification/index.yaml#/video-streaming.started"
  /webhook/push-notification/mention-comment.created:
    $ref: "./webhook/push-notification/index.yaml#/mention-comment.created"
  /webhook/push-notification/mention-comment.replied:
    $ref: "./webhook/push-notification/index.yaml#/mention-comment.replied"
  /webhook/push-notification/mention-post.created:
    $ref: "./webhook/push-notification/index.yaml#/mention-post.created"
  /webhook/push-notification/mention-user-feed-comment.created:
    $ref: "./webhook/push-notification/index.yaml#/mention-user-feed-comment.created"
  /webhook/push-notification/mention-user-feed-comment.replied:
    $ref: "./webhook/push-notification/index.yaml#/mention-user-feed-comment.replied"
  /webhook/push-notification/mention-user-feed-post.created:
    $ref: "./webhook/push-notification/index.yaml#/mention-user-feed-post.created"
  /webhook/user.didClearFlag:
    $ref: "./webhook/user/index.yaml#/user.didClearFlag"
  /webhook/user.didCreate:
    $ref: "./webhook/user/index.yaml#/user.didCreate"
  /webhook/user.didFlag:
    $ref: "./webhook/user/index.yaml#/user.didFlag"
  /webhook/user.didUnflag:
    $ref: "./webhook/user/index.yaml#/user.didUnflag"
  /webhook/user.didUpdate:
    $ref: "./webhook/user/index.yaml#/user.didUpdate"
  /webhook/v3.comment.didAddReaction:
    $ref: "./webhook/comment-v3/index.yaml#/comment.didAddReaction"
  /webhook/v3.comment.didCreate:
    $ref: "./webhook/comment-v3/index.yaml#/comment.didCreate"
  /webhook/v3.comment.didDelete:
    $ref: "./webhook/comment-v3/index.yaml#/comment.didDelete"
  /webhook/v3.comment.didFlag:
    $ref: "./webhook/comment-v3/index.yaml#/comment.didFlag"
  /webhook/v3.comment.didRemoveReaction:
    $ref: "./webhook/comment-v3/index.yaml#/comment.didRemoveReaction"
  /webhook/v3.comment.didReply:
    $ref: "./webhook/comment-v3/index.yaml#/comment.didReply"
  /webhook/v3.comment.didUnflag:
    $ref: "./webhook/comment-v3/index.yaml#/comment.didUnflag"
  /webhook/v3.comment.didUpdate:
    $ref: "./webhook/comment-v3/index.yaml#/comment.didUpdate"
  /webhook/v3.community.didAddUsers:
    $ref: "./webhook/community-v3/index.yaml#/community.didAddUsers"
  /webhook/v3.community.didBan:
    $ref: "./webhook/community-v3/index.yaml#/community.didBan"
  /webhook/v3.community.didCreate:
    $ref: "./webhook/community-v3/index.yaml#/community.didCreate"
  /webhook/v3.community.didDelete:
    $ref: "./webhook/community-v3/index.yaml#/community.didDelete"
  /webhook/v3.community.didJoin:
    $ref: "./webhook/community-v3/index.yaml#/community.didJoin"
  /webhook/v3.community.didLeave:
    $ref: "./webhook/community-v3/index.yaml#/community.didLeave"
  /webhook/v3.community.didRemoveUsers:
    $ref: "./webhook/community-v3/index.yaml#/community.didRemoveUsers"
  /webhook/v3.community.didRoleChange:
    $ref: "./webhook/community-v3/index.yaml#/community.didRoleChange"
  /webhook/v3.community.didUnban:
    $ref: "./webhook/community-v3/index.yaml#/community.didUnban"
  /webhook/v3.community.didUpdate:
    $ref: "./webhook/community-v3/index.yaml#/community.didUpdate"
  /webhook/v3.post.didAddReaction:
    $ref: "./webhook/post-v3/index.yaml#/post.didAddReaction"
  /webhook/v3.post.didApprove:
    $ref: "./webhook/post-v3/index.yaml#/post.didApprove"
  /webhook/v3.post.didCreate:
    $ref: "./webhook/post-v3/index.yaml#/post.didCreate"
  /webhook/v3.post.didDecline:
    $ref: "./webhook/post-v3/index.yaml#/post.didDecline"
  /webhook/v3.post.didDelete:
    $ref: "./webhook/post-v3/index.yaml#/post.didDelete"
  /webhook/v3.post.didFlag:
    $ref: "./webhook/post-v3/index.yaml#/post.didFlag"
  /webhook/v3.post.didRemoveReaction:
    $ref: "./webhook/post-v3/index.yaml#/post.didRemoveReaction"
  /webhook/v3.post.didUnflag:
    $ref: "./webhook/post-v3/index.yaml#/post.didUnflag"
  /webhook/v3.post.didUpdate:
    $ref: "./webhook/post-v3/index.yaml#/post.didUpdate"
  /webhook/video-streaming.didRecord:
    $ref: "./webhook/video-streaming/index.yaml#/video-streaming.didRecord"
  /webhook/video-streaming.didStart:
    $ref: "./webhook/video-streaming/index.yaml#/video-streaming.didStart"
  /webhook/video-streaming.didStop:
    $ref: "./webhook/video-streaming/index.yaml#/video-streaming.didStop"
  /webhook/v5.message.didCreate:
    $ref: "./webhook/message-v5/index.yaml#/message.didCreate"
  /webhook/v5.message.didDelete:
    $ref: "./webhook/message-v5/index.yaml#/message.didDelete"
  /webhook/v5.message.didUpdate:
    $ref: "./webhook/message-v5/index.yaml#/message.didUpdate"
  /realtime/channel.banned:
    $ref: "./realtime/channel.yaml#/channel.banned"
  /realtime/channel.created:
    $ref: "./realtime/channel.yaml#/channel.created"
  /realtime/channel.deleted:
    $ref: "./realtime/channel.yaml#/channel.deleted"
  /realtime/channel.joined:
    $ref: "./realtime/channel.yaml#/channel.joined"
  /realtime/channel.left:
    $ref: "./realtime/channel.yaml#/channel.left"
  /realtime/channel.membersAdded:
    $ref: "./realtime/channel.yaml#/channel.membersAdded"
  /realtime/channel.membersRemoved:
    $ref: "./realtime/channel.yaml#/channel.membersRemoved"
  /realtime/channel.unbanned:
    $ref: "./realtime/channel.yaml#/channel.unbanned"
  /realtime/channel.updated:
    $ref: "./realtime/channel.yaml#/channel.updated"
  /realtime/comment.addReaction:
    $ref: "./realtime/comment.yaml#/comment.addReaction"
  /realtime/comment.created:
    $ref: "./realtime/comment.yaml#/comment.created"
  /realtime/comment.deleted:
    $ref: "./realtime/comment.yaml#/comment.deleted"
  /realtime/comment.flagged:
    $ref: "./realtime/comment.yaml#/comment.flagged"
  /realtime/comment.flagsCleared:
    $ref: "./realtime/comment.yaml#/comment.flagsCleared"
  /realtime/comment.removeReaction:
    $ref: "./realtime/comment.yaml#/comment.removeReaction"
  /realtime/comment.unflagged:
    $ref: "./realtime/comment.yaml#/comment.unflagged"
  /realtime/comment.updated:
    $ref: "./realtime/comment.yaml#/comment.updated"
  /realtime/community.created:
    $ref: "./realtime/community.yaml#/community.created"
  /realtime/community.deleted:
    $ref: "./realtime/community.yaml#/community.deleted"
  /realtime/community.joined:
    $ref: "./realtime/community.yaml#/community.joined"
  /realtime/community.left:
    $ref: "./realtime/community.yaml#/community.left"
  /realtime/community.updated:
    $ref: "./realtime/community.yaml#/community.updated"
  /realtime/community.userAdded:
    $ref: "./realtime/community.yaml#/community.userAdded"
  /realtime/community.userBanned:
    $ref: "./realtime/community.yaml#/community.userBanned"
  /realtime/community.userChanged:
    $ref: "./realtime/community.yaml#/community.userChanged"
  /realtime/community.userRemoved:
    $ref: "./realtime/community.yaml#/community.userRemoved"
  /realtime/community.userUnbanned:
    $ref: "./realtime/community.yaml#/community.userUnbanned"
  /realtime/follow.accepted:
    $ref: "./realtime/follow.yaml#/follow.accepted"
  /realtime/follow.created:
    $ref: "./realtime/follow.yaml#/follow.created"
  /realtime/follow.followerDeleted:
    $ref: "./realtime/follow.yaml#/follow.followerDeleted"
  /realtime/follow.requestCanceled:
    $ref: "./realtime/follow.yaml#/follow.requestCanceled"
  /realtime/follow.requestDeclined:
    $ref: "./realtime/follow.yaml#/follow.requestDeclined"
  /realtime/follow.requested:
    $ref: "./realtime/follow.yaml#/follow.requested"
  /realtime/follow.unfollowed:
    $ref: "./realtime/follow.yaml#/follow.unfollowed"
  /realtime/marker.marked-message:
    $ref: "./realtime/marker.yaml#/marker.marked-message"
  /realtime/marker.marker.user-sync:
    $ref: "./realtime/marker.yaml#/marker.marker.user-sync"
  /realtime/marker.userFeed-updated:
    $ref: "./realtime/marker.yaml#/marker.userFeed-updated"
  /realtime/marker.feed-updated:
    $ref: "./realtime/marker.yaml#/marker.feed-updated"
  /realtime/message-feed.created:
    $ref: "./realtime/message-feed.yaml#/message-feed.created"
  /realtime/message-feed.deleted:
    $ref: "./realtime/message-feed.yaml#/message-feed.deleted"
  /realtime/message-feed.updated:
    $ref: "./realtime/message-feed.yaml#/message-feed.updated"
  /realtime/message.addReaction:
    $ref: "./realtime/message.yaml#/message.addReaction"
  /realtime/message.created:
    $ref: "./realtime/message.yaml#/message.created"
  /realtime/message.deleted:
    $ref: "./realtime/message.yaml#/message.deleted"
  /realtime/message.flagCleared:
    $ref: "./realtime/message.yaml#/message.flagCleared"
  /realtime/message.flagged:
    $ref: "./realtime/message.yaml#/message.flagged"
  /realtime/message.reactionAdded:
    $ref: "./realtime/message.yaml#/message.reactionAdded"
  /realtime/message.reactionRemoved:
    $ref: "./realtime/message.yaml#/message.reactionRemoved"
  /realtime/message.unflagged:
    $ref: "./realtime/message.yaml#/message.unflagged"
  /realtime/message.updated:
    $ref: "./realtime/message.yaml#/message.updated"
  /realtime/post.addReaction:
    $ref: "./realtime/post.yaml#/post.addReaction"
  /realtime/post.approved:
    $ref: "./realtime/post.yaml#/post.approved"
  /realtime/post.created:
    $ref: "./realtime/post.yaml#/post.created"
  /realtime/post.declined:
    $ref: "./realtime/post.yaml#/post.declined"
  /realtime/post.deleted:
    $ref: "./realtime/post.yaml#/post.deleted"
  /realtime/post.flagged:
    $ref: "./realtime/post.yaml#/post.flagged"
  /realtime/post.flagsCleared:
    $ref: "./realtime/post.yaml#/post.flagsCleared"
  /realtime/post.removeReaction:
    $ref: "./realtime/post.yaml#/post.removeReaction"
  /realtime/post.unflagged:
    $ref: "./realtime/post.yaml#/post.unflagged"
  /realtime/post.updated:
    $ref: "./realtime/post.yaml#/post.updated"
  /realtime/story.created:
    $ref: "./realtime/story.yaml#/story.created"
  /realtime/story.deleted:
    $ref: "./realtime/story.yaml#/story.deleted"
  /realtime/story.reactionAdded:
    $ref: "./realtime/story.yaml#/story.reactionAdded"
  /realtime/story.reactionRemoved:
    $ref: "./realtime/story.yaml#/story.reactionRemoved"
  /realtime/user.deleted:
    $ref: "./realtime/user.yaml#/user.deleted"
  /realtime/user.didGlobalBan:
    $ref: "./realtime/user.yaml#/user.didGlobalBan"
  /realtime/user.flagCleared:
    $ref: "./realtime/user.yaml#/user.flagCleared"
  /realtime/user.flagged:
    $ref: "./realtime/user.yaml#/user.flagged"
  /realtime/user.unflagged:
    $ref: "./realtime/user.yaml#/user.unflagged"
  /realtime/user.updated:
    $ref: "./realtime/user.yaml#/user.updated"
components:
  securitySchemes:
    ApiKeyAuth:
      type: "apiKey"
      in: "header"
      name: "X-API-Key"
    BearerAuth:
      type: "http"
      scheme: "bearer"
